<form>
    <div class="mb-2 col-4">
      <h4>{{ 'sample.color-picker.exemple1' | translate }}</h4>
      <bl-color-picker
        [color]="'#f45565'"
        [formControl]="formGroup.controls.colorPicker1"
        [testLabelValue]="'color1'"
      ></bl-color-picker>
    </div>

   <div class="mb-2 col-4">
      <h4>{{ 'sample.color-picker.exemple2' | translate }}</h4>
      <bl-color-circles
        [formControl]="formGroup.controls.colorPicker2"
        [testLabelValue]="'color2'"
      ></bl-color-circles>
    </div>
    <div class="row">
      <div class="mb-2 col-4">
        <h4>{{ 'sample.color-picker.exemple3' | translate }}</h4>
        <ul>
          <li>
            <strong>{{ 'sample.color-picker.methode1' | translate }}</strong>
          </li>
          <p>
            {{ 'sample.color-picker.methode1.desc' | translate }}
            <code>FormControl</code>
          </p>
          <bl-color-picker
            [formControl]="formGroup.controls.colorPicker3"
            [testLabelValue]="'color3'"
          ></bl-color-picker>
  
          <li>
            <strong>{{ 'sample.color-picker.methode2' | translate }}</strong>
          </li>
          <p>
            {{ 'sample.color-picker.methode2.desc' | translate }}
            <code>[color] </code>
          </p>
          <bl-color-circles
            [color]="color"
            [formControl]="formGroup.controls.colorPicker4"
            [testLabelValue]="'color4'"
          ></bl-color-circles>
        </ul>
      </div>
      <div class="col-2"></div>
      <div class="col-4">
        <h4>{{ 'sample.color-picker.exemple4' | translate }}</h4>
        <p> {{ 'sample.color-picker.exemple4.desc' | translate }}
          <code>[colors] </code>
        </p>
        <bl-color-circles
          [colors]="colors"
          [formControl]="formGroup.controls.colorPicker5"
          [testLabelValue]="'color5'"
        ></bl-color-circles>
      </div>
    </div>
  </form>
  
