<div class="m-2">
        <h3 id="usage" class="anchor border-bottom bl-zt-h2 mt-2">{{'pages.variables.page-template.usage' | translate}}</h3>
        <div class="container m-2">
          <p [innerHTML]="'pages.page-template.usage' | translate"></p>

          <div class="m-2" >
            <p>
              <bl-code-tab [codeTabs]="simpleTemplateCode"></bl-code-tab>
            </p>
          </div>
          <div class="m-2 exemple">
            <img class="exemplePic" [src]="imgExempleSimple.getSource()" alt="imgExempleSimple.getAlt()">
          </div>
        </div>
        
</div>
  