<h6>Couleurs : Par défaut le composant propose 3 couleurs:</h6>
<div class="flex-example">

  <bl-bubble-icon class="m-2" [color]="redColor"></bl-bubble-icon>
<bl-bubble-icon [iconName]="iconExample"> </bl-bubble-icon>
    <bl-bubble-icon [color]="orangeColor" [iconName]="billyIcon"  class="m-2" ></bl-bubble-icon>
</div>
<h6 class="mt-5">Rotation :  Par défaut le composant propose 4 Rotations :</h6>
<div class="flex-container ">
    <bl-bubble-icon class="center-item" [iconName]="ninedoatsIcon"   ></bl-bubble-icon>
    <div class="middle-items">
        <bl-bubble-icon  [bubbleRotation]="rightRotation" [color]="redColor"></bl-bubble-icon>
        <bl-bubble-icon class="item" [bubbleRotation]="leftRotation" [color]="orangeColor" [iconName]="billyIcon"></bl-bubble-icon>
    </div>
    <bl-bubble-icon  class="center-item" [bubbleRotation]="upRotation"  [iconName]="iconExample"  ></bl-bubble-icon>
</div>
<h6 class="mt-5">Animation : Le composant propose Deux types d'animations :</h6>
<div class="flex-example">
    <bl-bubble-icon  [color]="redColor" [zoomAnimation]="true"></bl-bubble-icon>
    <bl-bubble-icon style="margin-left: 10px"  [color]="orangeColor" [iconName]="billyIcon" [dingDingAnimation]="true"></bl-bubble-icon>
</div>
<h6 class="mt-5">Taille : Le composant propose Trois Tailles : </h6>
<div class="flex-example">
    <bl-bubble-icon style="margin-left: 10px" [iconSize]="2" [color]="redColor"    [dingDingAnimation]="true" [bubbleSize]="small"></bl-bubble-icon>
    <bl-bubble-icon style="margin-left: 10px" [iconSize]="2" [color]="redColor"    [dingDingAnimation]="true" [bubbleSize]="medium"></bl-bubble-icon>
    <bl-bubble-icon style="margin-left: 10px" [iconSize]="2" [color]="redColor"    [dingDingAnimation]="true" [bubbleSize]="large"></bl-bubble-icon>
</div>

<!--<div class="m-3">
<p>size 1 par défaut</p>
 <div>
 <bl-bubble [bubbleRotation]="BubbleDirection.LEFT" [contentSize]="1">inflobulle left</bl-bubble>
 </div>
 <div class="mt-3">
   <bl-bubble [bubbleRotation]="BubbleDirection.BOTTOM" [contentSize]="1">inflobulle bottom</bl-bubble>
 </div>
 <div class="mt-3">
   <bl-bubble [bubbleRotation]="BubbleDirection.TOP" [contentSize]="1">Je suis une infobulle top</bl-bubble>
 </div>

</div>-->
