<bl-stepper #blStepper [editable]="true" [testLabelValue]="'myStepper1'">

  <bl-step [stepForm]="formGroup1" [testLabelValue]="'form1'" [title]="stepLabels[0]" >
    <div class="d-flex flex-wrap gap-3 mt-3 row">
      <bl-card [class] = "'cardPosition'" [headerDevider]="true" [title]="'Titre du groupe 1'">
        <!-- Formulaire 1 step one -->
        <form [formGroup]="formGroup1" class="container mt-4">
          <div class="groupFields">
            <div class="row">
              <bl-text-field [formControl]="formGroup1.controls.label1"
                             [id]="'1'"
                             [label]="'sample.libelle.label'"
                             [maxLength]="15"
                             [placeholder]="'sample.libelle.placeholder'"
                             [testLabelValue]="'input1'"
                             [type]="'text'">
              </bl-text-field>
            </div>
            <div class="row">
              <bl-list-box [addNullableOption]="true"
                           [data]="listData"
                           [formControl]="formGroup1.controls.listBox1"
                           [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'"
                           [testLabelValue] = "'listBox1'">
              </bl-list-box>
            </div>
          </div>
          <h5 class="subtitle border-bottom">Titre de séparation de la carte</h5>
          <div class="groupFields">
            <div class="col-sm-3">
              <bl-datepicker [dateFormat]="'DD/MM/YYYY'"
                             [dateLocale]="'fr-FR'"
                             [formControl]="formGroup1.controls.date1"
                             [id]="'idDate1'"
                             [label]="'sample.datepicker.label'"
                             [testLabelValue]="'datepicker1'"
                             class="form-field">
              </bl-datepicker>
            </div>
            <div class="col-sm-3">
              <bl-datepicker [dateFormat]="'DD/MM/YY'"
                             [dateLocale]="'es-ES'"
                             [formControl]="formGroup1.controls.date2"
                             [id]="'idDate2'"
                             [label]="'sample.datepicker2.label'"
                             [testLabelValue]="'datepicker2'"
                             class="form-field">
              </bl-datepicker>
            </div>
          </div>
        </form>
      </bl-card>
    </div>

    <!-- Costum Actions here -->
    <div class="button-container-submit">
      <div *ngFor="let action of stepperActions ; let index = index " class="actions-step" >
        <bl-button  (click)="action.eventEmitter?.emit($event)" [primary]="false" [testLabelValue]="action.testLabelValue? action.testLabelValue:''+'_tab_Action_'"
                    [title]="action.label | translate" style="margin-right: 10px"></bl-button>
      </div>
      <!-- Button NEXT -->
      <bl-button
        (click)="nextStep(formGroup1)"
        [iconClass]="iconNext"
        [primary]="true"
        [testLabelValue]="'form1_button_next_step'"
        style="margin-right: 10px;margin-left: 10px"
        title="{{ 'sample.button.next' | translate }}"
      ></bl-button>
    </div>
  </bl-step>

<bl-step [stepForm]="formGroup1" [testLabelValue]="'form1'" [title]="stepLabels[1]" >
        <div class="d-flex flex-wrap gap-3 mt-3 row">

          <bl-table
            [moreMargin]="true"
            #table  [compareObject]="compareObject"
            [config]="config" [filterComponentsConfig]="filterComponentsConfig"
            [filterGroup]="formGroup"
            [initialFilter]="defaultFilterValue"
            [showSearchField]="showSearchField" [verticalLayout]="true"
            [testLabelValue]="'table-example-2'"
            id="bl-example-table-sample">
          </bl-table>
          </div>



        <!-- Costum Actions here -->
       <div class="button-container-submit">
            <div *ngFor="let action of stepperActions ; let index = index " class="actions-step" >
                <bl-button  (click)="action.eventEmitter?.emit($event)" [primary]="false" [testLabelValue]="action.testLabelValue? action.testLabelValue:''+'_tab_Action_'"
                [title]="action.label | translate" style="margin-right: 10px"></bl-button>
            </div>
            <!-- Button NEXT -->
            <bl-button
            (click)="nextStep(formGroup1)"
            [iconClass]="iconNext"
            [primary]="true"
            [testLabelValue]="'form1_button_next_step'"
            style="margin-right: 10px;margin-left: 10px"
            title="{{ 'sample.button.next' | translate }}"
            ></bl-button>
        </div>
    </bl-step>

    <bl-step [testLabelValue]="'form3'" [title]="stepLabels[2]">
        <div>contenu 3</div>

        <div class="button-container">
         <!-- Button BACK -->
            <div class="justify-content-start">
                <bl-button
                (click)="prevStep()"
                [iconClass]="iconBack"
                [primary]="false"
                [testLabelValue]="'form3_button_previous_step'"
                style="margin-right: 10px"
                title="{{ 'sample.button.previous' | translate }}"
                ></bl-button>
            </div>
        <!-- Finale step button -->
            <div class="d-flex justify-content-end m-2">
                <bl-button
                (click)="resetStepper()"
                [primary]="true"
                [testLabelValue]="'form3_button_next_step'"
                [title]="_resetBtn"
                style="margin-right: 10px"
                ></bl-button>
            </div>
        </div>
    </bl-step>
</bl-stepper>
