<bl-text-field (keyup)="changeSearch($event)"
               [displaySearch]="true"
               [formControl]="formGroup.controls.search"
               [id]="'2'"
               [label]="'sample.libelle.search'"
               [maxLength]="400"
               [placeholder]="''"
[testLabelValue]="'input2'"
[type]="'search'">
</bl-text-field>

<div class="wrapper">
                <p *ngFor="let key of iconsKeys "  [matTooltip]="getClassFromKey(key)">
                        {{ key }} <bl-icon [iconClassName]="key" [size]="2"></bl-icon>
                </p>
              <!-- <p *ngFor="let enum of IconClassEnum | keyvalue">
                        {{ enum.key }}  <bl-icon [size]="2"  iconClassName="{{enum.key}}"></bl-icon>
                </p>--> 
</div>

<div class="mt-4">
<h3>{{'sample.button.demo.size.title' | translate}}</h3>

<bl-icon [iconClassName]="'delete'"  [size]="1"></bl-icon>
<bl-icon [iconClassName]="'delete'"  [size]="2"></bl-icon>
<bl-icon [iconClassName]="'delete'"  [size]="3"></bl-icon>
<bl-icon [iconClassName]="'delete'"  [size]="4"></bl-icon>
<bl-icon [iconClassName]="'delete'"  [size]="5"></bl-icon>
<bl-icon [iconClassName]="'delete'"  [size]="6"></bl-icon>
</div>

<div class="mt-4">
<h3>{{'sample.button.demo.color.title' | translate}}</h3>
<ul>

        <li><bl-icon [color]="green_color" [iconClassName]="'valid_fill'" [size]="2"></bl-icon>
                <code [highlight]="'<bl-icon [iconClassName]=valid_fill [size]=2 [color]=green_color></bl-icon>'"
                        [lang]="['html']"></code>
        </li>
        <li> <bl-icon [color]="red_color" [iconClassName]="'error_fill'" [size]="2"></bl-icon>
                <code [highlight]="'<bl-icon [iconClassName]=error_fill [size]=2 [color]=red_color></bl-icon>'"
                        [lang]="['html']"></code>
        </li>
</ul>
</div>

{{'sample.button.demo.className.title' | translate}}
<br><br>
<ul  class="circle">
        <li>String correspondant à la clé de la classe IconClassEnum: <bl-icon [iconClassName]="'delete'" ></bl-icon>
                <code [highlight]="'<bl-icon [iconClassName]=delete ></bl-icon>'" [lang]="['html']"></code>
        </li>
        <li>
                IconClassEnum référencé dans le TS: <bl-icon [iconClassName]=classDelete ></bl-icon>
                <code [highlight]="'<bl-icon [iconClassName]=classDelete ></bl-icon>'" [lang]="['html']"></code>
        </li>
        <li>
                Nom de l'icone directement (non conseillé): <bl-icon [iconClassName]="'ph ph-trash'"></bl-icon>
                <code [highlight]="'<bl-icon [iconClassName]=\'ph ph-trash\'>'" [lang]="['html']"></code>

        </li>
      
</ul>




