<form [formGroup]="formGroup">
    <p>{{'sample.code.with' | translate}}</p>
    <bl-auto-statut-static [clearSearch]="false" [data]="lst"
                    [displayCode]="true"
                    [formControl]="formGroup.controls.status1"
                    [testLabelValue]="'autocompleteList_with_code'"
                     [hintStart]="'sample.autocomplete.hint.start'"
                     [hintEnd]="'sample.autocomplete.hint.end'"
                      id="statut1"
    ></bl-auto-statut-static>
    <p class="mt-2">{{'sample.code.without' | translate}}</p>
    <bl-auto-statut-static [data]="lst" [displayCode]="false"
                    [formControl]="formGroup.controls.status2"
                    [testLabelValue]="'autocompleteList_without_code'"
                    id="statut2"
    ></bl-auto-statut-static>
    <p>{{'sample.libelle.read-only' | translate}}</p>
    <bl-auto-statut-static [data]="lst" [displayCode]="false"
                    [formControl]="formGroup.controls.status3"
                    [readOnly]="true"
                    [testLabelValue]="'autocompleteList_with_readOnly'"
                    id="statut3"
    ></bl-auto-statut-static>
    <p>{{'sample.list.ServiceAutocomplete' | translate}}</p>
    <bl-auto-statut-static (selectableListChangeEvent)="getData($event)" [clearSearch]="false"
                    [data]="autocompleteList"
                    [displayCode]="false"
                    [formControl]="formGroup.controls.status4"
                    [testLabelValue]="'autocompleteList_with_service_call'"
                    id="statut4"
    ></bl-auto-statut-static>
    <p>{{'sample.autocomplete.simulation' | translate}}</p>
        <bl-text-field-decimal
                               [allowNegative]="false"
                               [formControl]="formGroup.controls.listeSize"
                               [id]="'idListSize'"
                               [label]="'sample.autocomplete.listSize'"
                               [placeholder]="'sample.autocomplete.listSize'"
                               [testLabelValue]="'input4'"
        ></bl-text-field-decimal>
            <bl-auto-statut (selectableListChangeEvent)="getLargeData5($event)" [clearSearch]="true" [data]="autocompleteStatus5List"
                            [displayCode]="false"
                            [enablePagination]="true"
                            [formControl]="formGroup.controls.status5"
                            [label]="'sample.autocomplete.withPagination'"
                            [testLabelValue]="'autocompleteList_with_service_call'"
                            id="statut5"
            ></bl-auto-statut>

            <bl-auto-statut (selectableListChangeEvent)="getLargeData6($event)" [clearSearch]="true"
                            [data]="autocompleteStatus6List"
                            [displayCode]="false"
                            [formControl]="formGroup.controls.status6"
                            [label]="'sample.autocomplete.withoutPagination'"
                            [testLabelValue]="'autocompleteList_with_service_call'"
            ></bl-auto-statut>

  <p>{{'sample.autocomplete.withAction' | translate}}</p>
  <bl-auto-statut-static [data]="lst" [displayCode]="false"
                         [formControl]="formGroup.controls.status7"
                         [testLabelValue]="'autocompleteList_with_custom_action'"
                         [autoCompleteAction]="addAction"
                         (autoCompleteActionEvent)="onCustomActionClick(formGroup.controls.status7.value)"
                         id="statut7"
  ></bl-auto-statut-static>
</form>
