<br>
<div class="bl-zt-h2">{{'sample.filter.configuration' | translate}}</div>
<mat-form-field appearance="fill" class="filter-header" [attr.testlabel]="'table-filter-elements-per-line-form-field'">
    <mat-label [attr.testlabel]="'table-filter-label'">{{'sample.filter.element.per.line' | translate}}</mat-label>
    <mat-select [formControl]="formGroup.controls.nbElement" [attr.testlabel]="'table-filter-elements-per-line-select'">
        <mat-option *ngFor="let obj of [1, 2, 3, 4, 5] ; let i = index" [value]="obj" [attr.testlabel]="'table-filter-elements-per-line-option_' + i">
            {{obj}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" class="filter-header" [attr.testlabel]="'table-filter-display-search-form-field'">
    <mat-label [attr.testlabel]="'table-filter-display-search-label'">{{'sample.filter.display.search' | translate}}</mat-label>
    <mat-select [formControl]="formGroup.controls.displaySearchButton" [attr.testlabel]="'table-filter-display-search-select'">
        <mat-option *ngFor="let obj of [true, false]  ; let i = index" [value]="obj" [attr.testlabel]="'table-filter-display-search-option_' + i">
            {{obj ? ('common.yes' | translate) : ('common.no' | translate)}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" class="filter-header" [attr.testlabel]="'table-filter-display-reset-form-field'">
    <mat-label [attr.testlabel]="'table-filter-display-reset-label'">{{'sample.filter.display.reset' | translate}}</mat-label>
    <mat-select [formControl]="formGroup.controls.displayResetButton" [attr.testlabel]="'table-filter-display-reset-select'">
        <mat-option *ngFor="let obj of [true, false] ; let i = index" [value]="obj" [attr.testlabel]="'table-filter-display-reset-option_' + i">
            {{obj ? ('common.yes' | translate) : ('common.no' | translate)}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" class="filter-header" [attr.testlabel]="'table-filter-linebreak-form-field'">
    <mat-label [attr.testlabel]="'table-filter-linebreak-label'">{{'sample.filter.linebreak' | translate}}</mat-label>
    <mat-select [formControl]="formGroup.controls.linebreak" [attr.testlabel]="'table-filter-linebreak-select'">
        <mat-option *ngFor="let obj of [true, false] ; let i = index" [value]="obj" [attr.testlabel]="'table-filter-linebreak-option_' + i">
            {{obj ? ('common.activated' | translate) : ('common.deactivated' | translate)}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="bl-zt-h2">{{'layout.common.search.result' | translate}}</div>
<bl-table-filter [displayResetButton]="formGroup.controls.displayResetButton.value"
                 [displaySearchButton]="formGroup.controls.displaySearchButton.value"
                     [nbFiltersPerLine]="formGroup.controls.linebreak.value ? formGroup.controls.nbElement.value : 'auto-fill'">
    <bl-multicombo
            [data]="[{id:1,label:'1'},{id:2,label:'2'},{id:3,label:'3'}]"
            [label]="'sample.filter.filter1'" [testLabelValue]="'multicombo_1'"></bl-multicombo>
    <bl-multicombo
            [data]="[{id:1,label:'1'},{id:2,label:'2'},{id:3,label:'3'}]"
            [label]="'sample.filter.filter2'" [testLabelValue]="'multicombo_2'"></bl-multicombo>
    <bl-multicombo
            [data]="[{id:1,label:'1'},{id:2,label:'2'},{id:3,label:'3'}]"
            [label]="'sample.filter.filter3'"> [testLabelValue]="'multicombo_3'"</bl-multicombo>
    <bl-list-box
            [data]="[{id:1,label:'1'},{id:2,label:'2'},{id:3,label:'3'}]"
            [label]="'sample.filter.filter4'" [testLabelValue]="'list-box_1'"></bl-list-box>
    <bl-list-box
            [data]="[{id:1,label:'1'},{id:2,label:'2'},{id:3,label:'3'}]"
            [label]="'sample.filter.filter5'" [testLabelValue]="'list-box_2'"></bl-list-box>
</bl-table-filter>
