<div class="d-flex justify-content-between align-items-center item align-middle flex-wrap">
    <bl-split-button [buttonActions]="buttonActions" [id]="'splitButton1'" [primary]="true" [testLabelValue]="'splitbutton1'" class="btn-example"></bl-split-button>
    <bl-split-button [buttonActions]="buttonActions" [id]="'splitButton2'" [testLabelValue]="'splitbutton2'" class="btn-example"></bl-split-button>
    <bl-split-button [buttonActions]="buttonActions2" [id]="'splitButton3'" [primary]="true" [testLabelValue]="'splitbutton3'" class="btn-example"></bl-split-button>
    <bl-split-button [buttonActions]="buttonActions2" [id]="'splitButton4'" [testLabelValue]="'splitbutton4'" class="btn-example"></bl-split-button>
</div>
