<bl-window-content-with-right-panel [setFocus]="refSimpleRightPanel">
  <bl-window-content-panel class="bl-window-prent-width" style="overflow: hidden">

    <div [attr.testlabel]="'table_with_top_filter'" class="container-fluid">
      <h4 class="mt-2" [attr.testlabel]="'table_top_filter_title'">{{'sample.datatable.horizontalLayout' | translate}}</h4>

        <bl-table #table [compareObject]="compareObject" [showCellsToolTip]="false"
                  [config]="config2" [filterGroup]="formGroup"
                  [showSearchField]="showSearchField" [verticalLayout]="false" id="bl-example-table-sample2" [testLabelValue]="'table-example-2'">
          <bl-table-filter (searchEvent)="searchEvent(table)"
                           [displayResetButton]='true'
                           [nbFiltersPerLine]="3"
                           [testLabelValue]="'table-filter-example-2'"
                           [verticalLayout]="false"
                           blFilters>
            <bl-text-field
              [formControl]="formGroup2.controls.nom"
              [label]="'sample.datatable.header.lastname'"
              id="filter_nom"
              [testLabelValue]="'lastname-text-field'"
            ></bl-text-field>

            <bl-text-field
              [formControl]="formGroup2.controls.id"
              [label]="'sample.datatable.header.matricule'"
              id="filter_matricule"
              [testLabelValue]="'matricule-text-field'"
            ></bl-text-field>
          </bl-table-filter>

        </bl-table>
      <!-- Table actions -->
      <div class="actions-container">
        <div class="d-flex">
          <div style="color: red">
            <p><b> NB :</b></p>
            <p><b>{{'sample.datatable.compareObjectWarning' | translate}} :</b></p>
          </div>
        </div>
        <div class="d-flex">
          <div>
            <p><b>{{'sample.datatable.changeComparing' | translate}}
              :</b> {{'sample.datatable.changeComparingDesription' | translate}}
            </p>
            <p><b>{{'sample.datatable.showSearchFilter' | translate}}
              :</b> {{'sample.datatable.showSearchFilterDesription' | translate}}
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <bl-button (click)="changeComparing()" [primary]="true" [title]="'sample.datatable.changeComparing' | translate"
                     class="m-1" [testLabelValue]="'changeComparing'"></bl-button>
          <bl-button (click)="hideOrShowSearchField()" [primary]="true" [title]="'sample.datatable.showSearchFilter' | translate"
                     class="m-1" [testLabelValue]="'showSearchFilter'"></bl-button>
        </div>
      </div>
    </div>

  </bl-window-content-panel>
  <bl-window-content-simple-right-panel #refSimpleRightPanel [title]="'Panel de droite'">
    <bl-filter-table-panel [tableComponent]="verticalTable">
      <!-- must contain "tableComponent.search()" and "tableComponent.reset()" -->
      <bl-text-field
        [formControl]="formGroup.controls.id"
        [label]="'sample.datatable.header.matricule'"
        id="filter_matricule2"
        [testLabelValue]="'right-panel-matricule-text-field'"
      ></bl-text-field>
      <bl-text-field
        id="filter_nom2"
        [formControl]="formGroup.controls.nom"
        [label]="'sample.datatable.header.lastname'"
        [testLabelValue]="'right-panel-lastname-text-field'"
      ></bl-text-field>
    </bl-filter-table-panel>
  </bl-window-content-simple-right-panel>
</bl-window-content-with-right-panel>
