
.example-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 95%;
}
.col-example{
  width: 25%;
  margin: 6.4px;
}
.specefic-width{
  width: 40%;
  margin: 6.4px;
}
