<form [formGroup]="formGroup">
    <div class="example-container">
        <div class="specefic-width">
            <h6>{{'sample.year-picker.full' | translate: {min: setMinYear(), max: setMaxYear(), defaultYear: getLabelYear()} }}</h6>
            <bl-year-picker (blur)="getSelectedYear($event)"
                            (yearSelectedEvent)="getSelectedYear($event)"
                            [defaultYear]="setDefaultYear()"
                            [formControl]="formGroup.controls.full"
                            [id]="'Exercice'"
                            [label]="'sample.year-picker.label'"
                            [maxYear]="setMaxYear()"
                            [minYear]="setMinYear()"
                            [placeholder]="'sample.year-picker.placeholder'"
                            [testLabelValue]="'year_picker1'">
            </bl-year-picker>
        </div>
        <div class="col-example">
            <h6>{{'sample.year-picker.min' | translate: {min: setMinYear()} }}</h6>
            <bl-year-picker (blur)="getSelectedYear($event)"
                            (yearSelectedEvent)="getSelectedYear($event)"
                            [formControl]="formGroup.controls.min"
                            [id]="'Exercice'"
                            [label]="'sample.year-picker.label'"
                            [minYear]="setMinYear()"
                            [placeholder]="'sample.year-picker.placeholder'"
                            [testLabelValue]="'year_picker2'"
                            >
            </bl-year-picker>
        </div>
        <div class="col-example">
            <h6>{{'sample.year-picker.max' | translate: {max: setMaxYear()} }}</h6>
            <bl-year-picker #openMe (blur)="getSelectedYear($event)"
                            (yearSelectedEvent)="getSelectedYear($event)"
                            [defaultYear]="setDefaultYear()"
                            [formControl]="formGroup.controls.max"
                            [id]="'Exercice'"
                            [label]="'sample.year-picker.label'"
                            [maxYear]="setMaxYear()"
                            [placeholder]="'sample.year-picker.placeholder'"
                            [testLabelValue]="'year_picker3'"
                            >
            </bl-year-picker>
        </div>
        <div class="col-example">
            <h6>{{'sample.year-picker.nolimit' | translate: {defaultYear: '2009'} }}</h6>
            <bl-year-picker #openMe (blur)="getSelectedYear($event)"
                            (yearSelectedEvent)="getSelectedYear($event)"
                            [defaultYear]="'2009'"
                            [formControl]="formGroup.controls.nolimit"
                            [id]="'Exercice'"
                            [label]="'sample.year-picker.label'"
                            [placeholder]="'sample.year-picker.placeholder'"
                            [testLabelValue]="'year_picker4'"
                            >
            </bl-year-picker>
        </div>
        <div class="col-example ">
            <h6>{{'sample.year-picker.nolimit' | translate: {defaultYear: '2023'} }}</h6>
            <bl-year-picker #openMe
                            [defaultYear]="'2009'"
                            [formControl]="formGroup.controls.readOnly"
                            [id]="'ExerciceReadOnly'"
                            [label]="'sample.libelle.read-only'"
                            [placeholder]="'sample.year-picker.placeholder'"
                            [readOnly]="true"
                            [testLabelValue]="'year_picker5_readOnly'">
            </bl-year-picker>
            <mat-error></mat-error>
        </div>
    </div>
</form>
