<bl-page-template [pageIcon]="pageIcon" [pageTitle]="pageTitle" >
  <div body>
<bl-window-content-with-right-panel [setFocus]="refSimpleRightPanel">
<bl-window-content-panel class="bl-window-prent-width">
    <bl-table #table [compareObject]="compareObject"
              [config]="config2" [filterGroup]="formGroup"
              [showSearchField]="showSearchField" [verticalLayout]="false" id="bl-example-table-sample2" [testLabelValue]="'table-example-2'">
      <bl-table-filter (searchEvent)="searchEvent(table)"
                       (resetEvent)="resetEvent(table)"
                       [displayResetButton]='true'
                       [nbFiltersPerLine]="3"
                       [testLabelValue]="'table-filter-example-2'"
                       [verticalLayout]="false"
                       blFilters>
        <bl-text-field
          [formControl]="formGroup2.controls.nom"
          [label]="'sample.datatable.header.lastname'"
          id="filter_nom"
          [testLabelValue]="'lastname-text-field'"
        ></bl-text-field>

        <bl-text-field
          [formControl]="formGroup2.controls.id"
          [label]="'sample.datatable.header.matricule'"
          id="filter_matricule"
          [testLabelValue]="'matricule-text-field'"
        ></bl-text-field>
      </bl-table-filter>

    </bl-table>
  <mat-card-actions>
  </mat-card-actions>

</bl-window-content-panel>
<bl-window-content-simple-right-panel #refSimpleRightPanel [title]="'Panel de droite'">
<bl-filter-table-panel [tableComponent]="verticalTable">
  <!-- must contain "tableComponent.search()" and "tableComponent.reset()" -->
  <bl-text-field
    [formControl]="formGroup.controls.id"
    [label]="'sample.datatable.header.matricule'"
    id="filter_matricule2"
    [testLabelValue]="'right-panel-matricule-text-field'"
  ></bl-text-field>
  <bl-text-field
    id="filter_nom2"
    [formControl]="formGroup.controls.nom"
    [label]="'sample.datatable.header.lastname'"
    [testLabelValue]="'right-panel-lastname-text-field'"
  ></bl-text-field>
</bl-filter-table-panel>
</bl-window-content-simple-right-panel>
</bl-window-content-with-right-panel>
</div>
</bl-page-template>
