<bl-card>
 <bl-card-header><h3>Documentation</h3></bl-card-header>
<bl-card-body >
  <div style="margin-bottom: 20px; margin-top: 20px">
    <p  >Le template permet d'avoir un header , footer sous forme de boutons ajustés ainsi que  tracker l'ensemble des formulaires grace au selecteur  <span style="color: deeppink">*blFormSelector</span>
      afin de les envelopper dans des Accordions . <br>
    </p>
    <bl-button [primary]="true" [title]="'voir l\'exemple'"  [iconClass]="viewIcon" (click)="goToExample()"></bl-button>
  </div>
  <div class="m-2 exemple" >
    <img class="exemplePic"
         style="width: 80%;margin-left: 5%"
         [src]="imgExempleWithCard.getSource()" alt="imgExempleWithCard.getAlt()">
  </div>
</bl-card-body>
  <bl-card-footer>
  <p style="margin-top: 12px; font-size: large"> Code de l'exemple</p>
  </bl-card-footer>

</bl-card>

