.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.flex-item {
  flex-basis: 50%;
  margin-bottom: 1.9em;
  padding: 10px;
}
.separator {
  flex-basis: 3px;
  background-color: rgba(4, 159, 255, 0.69);
}
.codeExample{
  background-color: #f5f5f5;

  padding: 10px;
  font-family: monospace;
}
.code-example p {
  margin: 0 !important;
  padding: 0 !important;
}
.m-container{
  margin: 2em;

}

.m-container h2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.33);
  margin-top: .9em;
  margin-right: 4em;
}
