
<div style="width: 250px; width: 75%">
    <h2 id="usage" class="anchor border-bottom mt-30 bl-zt-h2 mb-3">Exemples</h2>
    <h4 class=" bl-zt-h4 mb-4">Pièce Jointe unique</h4>
        <form [formGroup]="form" class="d-flex flex-column align-items-center">
        <mat-form-field  appearance="fill" class="fields-style" >
            <mat-label testlabel="Piece_jointe_label_1">Pièce Jointe (pdf)</mat-label>
            <bl-attachment #file
                        formControlName="fileCtrl"
                        [accept]="'.pdf'"
                        (change)="onFileChange($event)"
                        (select)="openFile($event)"
                        [testLabelValue]="'Piece_jointe_1'">
            </bl-attachment>
            <bl-attachment-chooser matSuffix [for]="file" [removable]="true" [testLabelValue]="'Piece_jointe_1'"></bl-attachment-chooser>
            <mat-error *ngIf="form.controls['fileCtrl'].hasError('required')" testlabel="Piece_jointe_le_document_est_obligatoire_6">
            Le document est obligatoire
            </mat-error>
            <mat-error *ngIf="form.controls['fileCtrl'].hasError('maxSize')" testlabel="Piece_jointe_la_taille_maximale_du_document_est_de_500_ko_4">
            La taille maximale du document est de 500 Ko
            </mat-error>
            <mat-error *ngIf="form.controls['fileCtrl'].hasError('acceptExtension')" testlabel="Piece_jointe_le_fichier_doit_etre_au_format_pdf_5">
            Le fichier doit être au format PDF
            </mat-error>
        </mat-form-field>
        <bl-button
        title="{{ 'sample.button.validate' | translate }}"
        [primary]="true"
        [testLabelValue]="'validate'"
        ></bl-button>
        </form>

    <h4 class=" bl-zt-h4 mb-4">Exemple en lecture seule</h4>
    <mat-form-field appearance="fill" class="fields-style d-flex flex-column align-items-center" >
    <mat-label testlabel="Piece_jointe_label_2">Pièce Jointe (pdf)</mat-label>
        <bl-attachment [value]="readOnlyFile"
                        [accept]="'.pdf'"
                        (select)="openFile($event)"  [testLabelValue]="'Piece_jointe_2'">
        </bl-attachment>
    </mat-form-field>


    <h4 class=" bl-zt-h4 mb-4">Exemple avec affichage de taille de fichier</h4>

    <form [formGroup]="form2" class="d-flex flex-column align-items-center mt-4">
    <mat-form-field class="fields-style" appearance="fill">
        <mat-label testlabel="Piece_jointe_label_3">Pièce Jointe (pdf)</mat-label>
        <bl-attachment #file2
                    formControlName="fileCtrl2"
                    [accept]="'.pdf'"
                    (select)="openFile($event)"
                    [convertSizeFunc]="sizeMo" [testLabelValue]="'Piece_jointe_3'">
        </bl-attachment>
        <bl-attachment-chooser matSuffix [for]="file2" [removable]="true" [testLabelValue]="'Piece_jointe_3'"></bl-attachment-chooser>
        <mat-error *ngIf="form2.controls['fileCtrl2'].hasError('required')" testlabel="Piece_jointe_le_document_est_obligatoire_7">
        Le document est obligatoire
        </mat-error>
        <mat-error *ngIf="form2.controls['fileCtrl2'].hasError('maxSize')" testlabel="Piece_jointe_la_taille_maximale_du_document_est_de_500_ko_5">
        La taille maximale du document est de 500 Ko
        </mat-error>
        <mat-error *ngIf="form2.controls['fileCtrl2'].hasError('acceptExtension')" testlabel="Piece_jointe_le_fichier_doit_etre_au_format_pdf_6">
        Le fichier doit être au format PDF
        </mat-error>
    </mat-form-field>
       <bl-button
        title="{{ 'sample.button.validate' | translate }}"
        [primary]="true"
        [testLabelValue]="'validate'"
        ></bl-button>
    </form>

<!-- Code des exemple-->
<h4 class=" bl-zt-h4 mb-4">Code des exemples</h4>
    <div class="align-buttons">
        <bl-button (click)="expandAll()" [iconClass]="openAll" [id]="'btnExpandAll'" 
        [primary]="true" [testLabelValue]="'view_sample_button'" 
        [title]="'Expand all'"></bl-button>
        <bl-button (click)="collapseAll()" [iconClass]="closeAll" [id]="'btnCloseAll'" 
        [primary]="true" [testLabelValue]="'view_sample_button'" 
        [title]="'Close all'"></bl-button>
    </div>

    <!-- Exemple 1-->
    <mat-accordion [multi]="true">
        <bl-expension-panel
        [expanded]="expand"
        [testLabelValue] = "'expension_panel_code_1'"
        [expensionTitle]="'Code de la Pièce jointe unique'"
        >
        <bl-code-tab [codeTabs]="uniquePJCode"></bl-code-tab>
        </bl-expension-panel>

        <!-- Exemple 2-->
        <bl-expension-panel class ="mb-2"
        [expanded]="expand"
        [testLabelValue] = "'expension_panel_code_2'"
        [expensionTitle]="'Code de la pièce jointe en lecture seule'"
        >
        <bl-code-tab [codeTabs]="[
        {name: 'HTML', code: readonlyExampleHTML},
        {name: 'TS', code: readonlyExampleTs}]">
        </bl-code-tab>
        </bl-expension-panel>
        
        <!-- Exemple 3-->
        <bl-expension-panel
        [expanded]="expand"
        [testLabelValue] = "'expension_panel_code_3'"
        [expensionTitle]="'Code de la PJ avec affichage de taille de fichier'"
        >
        <bl-code-tab [codeTabs]="[
        {name: 'TS', code: fullExample2Ts},
        {name: 'HTML', code: fullExampleTemplate2}
        ]"></bl-code-tab>
        </bl-expension-panel>
    </mat-accordion>

</div>
