.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.field-style{
    min-width: 50%;
    width: 250px;
}
.align-buttons{
    display:flex;
    justify-content: end;
    margin-bottom: 1em;
}