
<form [formGroup]="formGroup">
    <p>{{'sample.code.with' | translate}}</p>
    <bl-quick-search-statut [displayCode]="true"
                    [formControl]="formGroup.controls.status1"
                    id="statut1"
                    [clearSearch]="false"
                    [modalTitle]="modalTitle"
                    [callOutBodyComponents]="callOuts"
                    [testLabelValue]="'quick_search_with_code'"
    ></bl-quick-search-statut>
    <p>{{'sample.code.without' | translate}}</p>
    <bl-quick-search-statut [displayCode]="false"
                    [formControl]="formGroup.controls.status2"
                    id="statut2"
                    [testLabelValue]="'quick_search_without_code'"
    ></bl-quick-search-statut>
    <p>{{'sample.libelle.read-only' | translate}}</p>
    <bl-quick-search-statut [displayCode]="false"
                    [formControl]="formGroup.controls.status3"
                    [readOnly]="true"
                    id="statut3"
                    [testLabelValue]="'quick_search_with_readyOnly'"
    ></bl-quick-search-statut>
  <p>Exemple avec une action ajouté:</p>

    <bl-quick-search-statut [displayCode]="false"
                            [formControl]="formGroup.controls.statut4"
                            id="statut4"
                            [customAction]="addFavoritAction"
                            (actionEvent)="addToFavorit($event)"
                            [testLabelValue]="'quick_search_with_action'"
    ></bl-quick-search-statut>
    <p>Exemple QuickSearch avec contenu dynamic (table et filtre haut) + CallOuts </p>
  <bl-quick-search-statut-2 [displayCode]="false"
                          [formControl]="formGroup.controls.name"
                          id="name"
                          [customAction]="addFavoritAction"
                            [modalTitle]="modalTitle"
                            [callOutBodyComponents]="callOuts"
                          (actionEvent)="addToFavorit($event)"
                          [testLabelValue]="'quick_search_with_action'"
                            [dialogCancelButton]="cancelButton"

  ></bl-quick-search-statut-2>
 <div>

 </div>
</form>
