<bl-page-template [pageIcon]="pageIcon" [pageTitle]="pageTitle" >


   <bl-card body>
 <div class="d-flex  justify-content-between w-100 mb-4 ">
   <p class="total-container">Total  : {{getTableRowCount()}}</p>
  <div class="d-flex">
    <bl-button

      [iconClass]="buttonHeader3.icon?.icon"
      [iconButton]="true"
      [size]="7"
      [matTooltip]="buttonHeader3.icon?.tooltip ?? ''"
      (click)="buttonHeader3.eventEmitter?.emit()"
      style="color: #495057"
      [testLabelValue]="testLabelValue + '_' + buttonHeader1.icon?.tooltip +'_Button'"
    >
    </bl-button>
    <bl-button
      [size]="7"
               [iconClass]="buttonHeader1.icon?.icon"
               [iconButton]="true"
               [matTooltip]="buttonHeader1.icon?.tooltip ?? ''"
               (click)="buttonHeader1.eventEmitter?.emit()"
               style="color: #495057"
               [testLabelValue]="testLabelValue + '_' + buttonHeader1.icon?.tooltip +'_Button'"
    >
    </bl-button>


    <bl-button
      [size]="7"
      [iconClass]="buttonHeader2.icon?.icon"
      [iconButton]="true"
      [matTooltip]="buttonHeader2.icon?.tooltip ?? ''"
      (click)="buttonHeader2.eventEmitter?.emit()"
      style="color: #495057"
      [testLabelValue]="testLabelValue + '_' + buttonHeader2.icon?.tooltip +'_Button'">
    </bl-button>

  </div>

 </div>
     <bl-editable-table2      #editableTable2Component [cols]="cols2"
                              [i18nAdd]="'bl-common.add'"
                              [tableFormArray]="tableFormArray"
                              [testLabelValue]="'liste_editable'"
                              [title]="'Titre de la liste éditable'"
                              style="min-width: fit-content;"
                              (afterAddRow)="afterAddRow($event)"
     >
       <!-- Premiere colonne -->
       <ng-template columnField="id" let-control="control" let-formGroup="formGroup">
         <mat-form-field appearance="fill" class="w-100 no-underline" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_1'">
           <mat-label *ngIf="control.parent === this.editableTable2Component.addForm" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value + '_column_1_label'">Id</mat-label>
           <input [formControl]="control" [required]="true" matInput placeholder="Id *" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_1_input'">

           <mat-error *ngIf="control.hasError('required')" >
            <bl-error  [testLabel]="'column_1_error_required'" [key]="'Id manquant'"></bl-error>
          </mat-error>
          <mat-error *ngIf="control.hasError('minlength')" >
            <bl-error  [testLabel]="testLabelValue +'column_1_error_min_length'" [key]="'Min. 3 caractères'"></bl-error>
          </mat-error>

         </mat-form-field>
       </ng-template>

       <!-- Deuxième colonne -->
       <ng-template columnField="name" let-control="control">
         <mat-form-field [attr.testlabel]="'column_2'" appearance="fill" class="w-100 mw-15 no-underline" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_2'">
           <mat-label *ngIf="control.parent === this.editableTable2Component.addForm" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_2_label'">Libellé de la fonctionnalité</mat-label>
           <input [attr.testlabel]="'column_2_input'" [formControl]="control" [required]="true" matInput placeholder="Libellé de la fonctionnalité *" [attr.testlabel]="testLabelValue  + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_2_input'">

           <mat-error *ngIf="control.hasError('required')" >
            <bl-error [testLabel]="testLabelValue +'_column_2_error_required'" [key]="'Nom requis'"></bl-error>
          </mat-error>

         </mat-form-field>
       </ng-template>

       <!-- Troisième colonne -->
       <ng-template columnField="date" let-control="control">
         <mat-form-field [attr.testlabel]="'column_3'" appearance="fill" class="w-100 no-underline" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_3'">
           <mat-label *ngIf="control.parent === this.editableTable2Component.addForm" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_3_label'">Date ref.</mat-label>
           <input [attr.testlabel]="'column_3_input'" [formControl]="control" [matDatepicker]="picker" [required]="true"
                  matInput placeholder="Date ref. *" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_3_input'">
           <mat-datepicker-toggle [for]="picker" matSuffix [attr.testlabel]="testLabelValue +'_column_3_datepicker_toggle'"></mat-datepicker-toggle>
           <mat-datepicker #picker [attr.testlabel]="testLabelValue +'_column_3_datepicker'"></mat-datepicker>

           <mat-error *ngIf="control.hasError('required')" >
            <bl-error  [testLabel]="testLabelValue +'_column_3_error_required'" [key]="'Date Ref. requis'"></bl-error>
          </mat-error>
         </mat-form-field>
       </ng-template>
       <!-- Quatrième colonne -->
       <ng-template columnField="licence" let-control="control">
         <mat-form-field [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_4'" appearance="fill" class="w-100 no-underline">
           <mat-label *ngIf="control.parent === this.editableTable2Component.addForm" [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_4_label'">Soumise à licence</mat-label>
           <mat-select [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_4_select'" [formControl]="control" [required]="true" placeholder="Soumise à licence *">
             <mat-option [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_4_option_1'" [value]="true">Oui</mat-option>
             <mat-option [attr.testlabel]="testLabelValue + '_row_' + control?.parent?.controls?.rowNumber?.value +'_column_4_option_2'" [value]="false">Non</mat-option>
           </mat-select>

           <mat-error *ngIf="control.hasError('required')" >
            <bl-error  [testLabel]="testLabelValue +'_column_4_error_required'" [key]="'Licence requise'"></bl-error>
          </mat-error>

         </mat-form-field>
       </ng-template>
     </bl-editable-table2>
   </bl-card>

  <div footer class="d-flex justify-content-end">
    <bl-button
      (click)="onSubmitForm()"
      title="{{ 'sample.button.save' | translate }}"
      [primary]="true"
      type="submit"
       [testLabelValue]="'save_action'"
      style="margin: 10px 10px 10px"
    ></bl-button>

    <bl-button
      (click)="cancelAction()"
      title="{{ 'sample.button.rollback' | translate }}"
      [primary]="false"
      [testLabelValue]="'cancel_action'"
      style="margin-bottom: 10px;margin-top: 10px;"
    ></bl-button>
  </div>

</bl-page-template>
