<form [formGroup]="formGroup">
    <mat-form-field style="margin-right: 2rem" [attr.testlabel]="'formatList'">
        <mat-select (selectionChange)="resetDatePicker()" [formControl]="formGroup.controls.format" [attr.testlabel]="'formatList' + '_select'">
            <mat-option *ngFor="let format of formatList ; let index = index" [value]="format" [attr.testlabel]="'formatList' + '_option_' + index">
                {{ format }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field [attr.testlabel]="'localeList'">
        <mat-select (selectionChange)="resetDatePicker()" [formControl]="formGroup.controls.locale" [attr.testlabel]="'localeList' + '_select'">
            <mat-option *ngFor="let locale of localeList ; let index = index" [value]="locale" [attr.testlabel]="'localeList' + '_option_' + index">
                {{ locale }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <bl-datepicker [dateFormat]="formGroup.controls.format.value"
                   [dateLocale]="formGroup.controls.locale.value"
                   [formControl]="formGroup.controls.date"
                   [id]="'idDate'"
                   [label]="'sample.datepicker.label'"
                   [testLabelValue]="'datepicker1'"
                   [customErrorsMap]="customErrorMap"
                   >
    </bl-datepicker>

    <bl-datepicker [dateFormat]="formGroup.controls.format.value"
                   [dateLocale]="formGroup.controls.locale.value"
                   [formControl]="formGroup.controls.dateReadOnly"
                   [id]="'idDateReadOnly'"
                   [label]="'sample.libelle.read-only'"
                   [readOnly]="true"
                   [testLabelValue]="'datepicker2'"
                   >
    </bl-datepicker>
    <bl-datepicker
                   [dateLocale]="formGroup.controls.locale.value"
                   [formControl]="formGroup.controls.dateReadOnly"
                   [id]="'idDateReadOnly'"
                   [label]="'sample.datepicker.label'"

                   [testLabelValue]="'datepicker2'">
    </bl-datepicker>

<p> {{'sample.datepicker.exempleLunarDate'|translate}}</p>
    <bl-lunar-date-picker [label]="'Entrez une date Lunaire'" [id]="'id'" [formControl]="formGroup.controls.lunarDate1" [testLabelValue]="'lunarDate1'">

    </bl-lunar-date-picker>
    <bl-lunar-date-picker [label]="'Entrez une date Lunaire'" [id]="'id'" [formControl]="formGroup.controls.lunarDate2" [testLabelValue]="'lunarDate1'" [readOnly]="true">

    </bl-lunar-date-picker>
</form>

