<p> {{'pages.variables.memo.messages.exampleLengthMessage' |translate}}</p>
<bl-memo [noteInformation]="noteInformation3" [noteActions]="headerButtons">
</bl-memo>
<br>
<p> {{'pages.variables.memo.messages.exampleUrgentMessage' |translate}}</p>
<bl-memo [noteInformation]="noteInformation" [noteActions]="headerButtons" [showShadowTertiary]="false"></bl-memo>
<br>
<p>{{'pages.variables.memo.messages.memoExample' |translate}}</p>

<div style="width: 150%;  max-width: 500px">
  <bl-card  [headerDevider]="false"   >
    <div style="display:flex;justify-content: space-between;margin-bottom: 7px"><h3 style="padding-top: 9px;padding-left: 14px">Mémo</h3>
      <bl-button role="button" (click)="eventadd()"  [iconButton]="true" [iconClass]="plus" [id]="'btnValidate'" [primary]="true" [testLabelValue]="'floating_button1'" [title]="'sample.button.validate'"
      ></bl-button>
    </div>
    <div style="display: flex ; justify-content: space-around; flex-wrap: wrap" >
      <bl-memo [noteInformation]="noteInformation2" [noteActions]="headerButtons" class="memoComponent" >
      </bl-memo>
      <bl-memo [noteInformation]="noteInformation1" [noteActions]="headerButtons" class="memoComponent" >
      </bl-memo>
      <bl-memo [noteInformation]="noteInformation" [noteActions]="headerButtons" class="memoComponent mt-4" >
      </bl-memo>
      <bl-memo [noteInformation]="noteInformation3" [noteActions]="headerButtons" class="memoComponent mt-4" >
      </bl-memo>
    </div>
  </bl-card>
</div>


