<bl-button (clickEvent)="openSuccessCustomSnackBar('Envoi du formulaire réussi!', false)"
           [primary]="true"
           [testLabelValue]="'succesSnackbar'"
           title="{{ 'sample.snackbar.success.button' | translate }}"
           >
</bl-button>
<br/>
<bl-button (clickEvent)="openWarningCustomSnackbar('Il y a eu un problème lors de l\'envoi du formulaire', false)"
           [primary]="true"
           [testLabelValue]="'warningSnackbar'"
           title="{{ 'sample.snackbar.warning.button' | translate }}"
           >
</bl-button>
<br/>
<bl-button (clickEvent)="openErrorCustomSnackbar('Formulaire invalide', false)"
           [primary]="true"
           [testLabelValue]="'errorSnackbar'"
           title="{{ 'sample.snackbar.error.button' | translate }}"
           >
</bl-button>
<br/>
<p>{{ 'pages.snackbar.example' | translate}}</p>
<bl-button (clickEvent)="openSuccessCustomSnackBar('Envoi du formulaire réussi!', true)"
           [primary]="true"
           [testLabelValue]="'succesSnackbar'"
           title="{{ 'sample.snackbar.success.button' | translate }}"
           >
</bl-button>
<br/>
<bl-button (clickEvent)="openWarningCustomSnackbar('Il y a eu un problème lors de l\'envoi du formulaire', true)"
           [primary]="true"
           [testLabelValue]="'warningSnackbar'"
           title="{{ 'sample.snackbar.warning.button' | translate }}"
           >
</bl-button>
<br/>
<bl-button (clickEvent)="openErrorCustomSnackbar('Formulaire invalide', true)"
           [primary]="true"
           [testLabelValue]="'errorSnackbar'"
           title="{{ 'sample.snackbar.error.button' | translate }}"
           >
</bl-button>
<br/>
<p>Snackbar avec bouton d'action sans croix :</p>
<bl-button (clickEvent)="openSuccessCustomSnackBarWithButtonAction('Envoi du formulaire réussi!', false)"
           [primary]="true"
           [testLabelValue]="'succesSnackbar'"
           title="{{ 'sample.snackbar.success.button' | translate }}"
           >
</bl-button>
<br/>
<p>Snackbar avec bouton d'action avec croix :</p>
<bl-button (clickEvent)="openSuccessCustomSnackBarWithButtonAction('Envoi du formulaire réussi!',true)"
           [primary]="true"
           [testLabelValue]="'succesSnackbar'"
           title="{{ 'sample.snackbar.success.button' | translate }}"
           >
</bl-button>
<br/>
<br/>
