<form [formGroup]="formGroup">
    <bl-text-field-fraction [formControl]="formGroup.controls.fraction"
                 [id]="'fraction'"
                 [label]="'sample.fraction.label'"
                 [placeholder]="'sample.fraction.placeholder'"
                 [testLabelValue]="'fraction1'"
                 >
    </bl-text-field-fraction>

    <bl-text-field-fraction [formControl]="formGroup.controls.fractionReadOnly"
                            [id]="'fraction'"
                            [label]="'sample.libelle.read-only'"
                            [placeholder]="'sample.fraction.placeholder'"
                            [readOnly]="true"
                            [testLabelValue]="'fraction2'"
                            >
    </bl-text-field-fraction>
</form>

