<!-- Exemple IMAGE de contenu en deux blocs-->
<div class="row">
  <h3>{{ 'pages.style.popup-card.exemple1' | translate }}</h3>
  <bl-button
    (click)="onpenPopupCard1()"
    [circularButton]="true"
    [iconClass]="nine_point"
    [id]="'btn_open_costum_popup'"
    [primary]="true"
    [testLabelValue]="'view_sample_button'"
    [title]="'sample.button.openCard'"
  ></bl-button>

  <bl-popup-card
    [popupTitle]="cardTitle"
    [visible]="visible_popup1"
    [headerLink]="headerLink"
    [popupStyle]="largeStyle"
  >
    <div upperContainer>
      <p class="box_title">
        {{ 'pages.style.popup-card.upperBox.title' | translate }}
      </p>
      <div class="row">
        <img src="./assets/img/doc/popup_ex1.PNG" />
      </div>
    </div>
    <div lowerContainer>
      <p class="box_title">
        {{ 'pages.style.popup-card.lowerBox.title' | translate }}
      </p>
      <div class="row">
        <img src="./assets/img/doc/popup_ex2.PNG" />
      </div>
    </div>
  </bl-popup-card>
</div>
<!-- Exemple DEV de contenu en deux blocs-->
<div class="row mt-4">
  <bl-button
    (click)="onpenPopupCard2()"
    [circularButton]="true"
    [iconClass]="nine_point"
    [id]="'btn_open_costum_popup'"
    [primary]="true"
    [testLabelValue]="'view_sample_button'"
    [title]="'sample.button.openCard'"
  ></bl-button>

  <bl-popup-card
    [popupTitle]="cardTitle"
    [visible]="visible_popup2"
    [headerLink]="headerLink"
    [popupStyle]="largeStyle"
  >
    <div upperContainer>
      <p class="box_title">
        {{ 'pages.style.popup-card.upperBox.title' | translate }}
      </p>
      <div class="row">
        <div class="col d-flex gap-3">
          <p>{{ 'pages.style.popup-card.actionA' | translate }}</p>
          <bl-chip
            [tooltip]="'découvrir'"
            [chipValue]="'découvrir'"
            [key]="'explore_chip'"
            [canBeDeleted]="false"
            [chipStyle]="
              ' border-style: solid;border-width: thin;border-color: #D9D9D9;'
            "
            [chipColor]="'white'"
          ></bl-chip>
        </div>
        <div class="col d-flex gap-3">
          <p>{{ 'pages.style.popup-card.actionB' | translate }}</p>
          <bl-chip
            [tooltip]="'pages.style.popup-card.chip_title' | translate"
            [chipValue]="'pages.style.popup-card.chip_title' | translate"
            [key]="'explore_chip'"
            [canBeDeleted]="false"
            [chipStyle]="
              ' border-style: solid;border-width: thin;border-color: #D9D9D9;'
            "
            [chipColor]="'white'"
          ></bl-chip>
        </div>
      </div>
    </div>
    <div lowerContainer>
      <p class="box_title">
        {{ 'pages.style.popup-card.lowerBox.title' | translate }}
      </p>
      <div class="row">
        <div class="col">
          <h5>Titre du groupe A</h5>
          <mat-divider></mat-divider>
          <p class="mt-2">{{ 'pages.style.popup-card.actionA' | translate }}</p>
        </div>

        <div class="col">
          <h5>Titre du groupe B</h5>
          <mat-divider></mat-divider>
          <p class="mt-2">{{ 'pages.style.popup-card.actionB' | translate }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5>Titre du groupe C</h5>
          <mat-divider></mat-divider>
          <p class="mt-2">{{ 'pages.style.popup-card.actionC' | translate }}</p>
        </div>

        <div class="col">
          <h5>Titre du groupe D</h5>
          <mat-divider></mat-divider>
          <p class="mt-2">{{ 'pages.style.popup-card.actionD' | translate }}</p>
        </div>
      </div>
    </div>
  </bl-popup-card>
</div>

<!-- Exemple Simple -->
<div class="row mt-4">
  <h3>{{ 'pages.style.popup-card.exemple2' | translate }}</h3>
  <bl-button
    (click)="onpenPopupCard3()"
    [circularButton]="true"
    [iconClass]="nine_point"
    [id]="'btn_open_default_popup'"
    [primary]="false"
    [testLabelValue]="'view_sample_button'"
    [title]="'sample.button.openCard'"
  ></bl-button>

  <bl-popup-card
    [popupTitle]="cardTitle"
    [visible]="visible_popup3"
    [headerLink]="headerLink"
    [popupStyle]="smallStyle"
  >
    <img src="./assets/img/doc/popup_ex3.PNG" style="width: 100%" />
  </bl-popup-card>
</div>
<br>
