
<div class="d-flex w-100">
    <bl-label [labelState]="successState"
              [labelValue]="successValue"
              [testLabelValue]="'success_sample'"
              class="label-sample"
    ></bl-label>
    <bl-label [labelState]="primaryState"
              [labelValue]="primaryValue"
              [testLabelValue]="'primary_sample'"
              class="label-sample"
    ></bl-label>
    <bl-label [labelState]="warningState"
              [labelValue]="warningValue"
              [testLabelValue]="'warning_sample'"
              class="label-sample"
    ></bl-label>
    <bl-label [labelState]="dangerState"
              [labelValue]="dangerValue"
              [testLabelValue]="'danger_sample'"
              class="label-sample"
    ></bl-label>
    <bl-label [labelState]="infoState"
              [labelValue]="infoValue"
              [testLabelValue]="'info_sample'"
              class="label-sample"
    ></bl-label>
    <bl-label [labelState]="defaultState"
              [labelValue]="defaultValue"
              [testLabelValue]="'default_sample'"
              class="label-sample"
    ></bl-label>
</div>

