<div >
<div class="row mb-3">
  <bl-gauge class="w-25"
            [bgRadius]="80"
            [bgColor]="'#EEF5F9'"
            [rounded]="false"
            [reverse]="false"
            [animationSecs]="1"
            [labels]="labels"
            [segments]="segments"
            [testLabelValue]="'gauge1'">
  </bl-gauge>
</div>
<div class="row">
  <bl-gauge class="w-25"
            [bgRadius]="80"
            [bgColor]="'#EEF5F8'"
            [rounded]="true"
            [reverse]="false"
            [animationSecs]="1"
            [labels]="labels"
            [segments]="segments"
            [testLabelValue]="'gauge2'">
  </bl-gauge>
</div>
</div>
