<section class="row m-2">
  <div class="col">
    <h4>{{'pages.style.button-link.external-link'|translate}}</h4>

    <bl-button-link [text]="'pages.style.button-link.text1'" [testLabel]="'action_one'"
                    [icon]="IconClassEnum.arrow_up_right"
                    [externalPath]="'https://material.angular.io/components/button/overview'"></bl-button-link>
  </div>
  <div class="col">
    <h4>{{'pages.style.button-link.specific-link'|translate}}</h4>

    <bl-button-link [text]="'pages.style.button-link.text2'" (clickEvent)="goToHome()"
                    [icon]="IconClassEnum.home_fill" [testLabel]="'action_two'"
                    [iconColor]="'#372e95'"></bl-button-link>
  </div>
</section>

<section class="row m-2">
  <div class="col">
    <h4>{{'pages.style.button-link.long-text'|translate}}</h4>

    <bl-button-link [text]="'pages.style.button-link.text3'" [icon]="IconClassEnum.arrow_up_right"
                    [testLabel]="'action_long_text'"
                    [tooltipText]="'pages.style.button-link.tooltip-long'"></bl-button-link>
  </div>

  <div class="col">
    <h4>{{'pages.style.button-link.simple-icon'|translate}}</h4>

    <bl-button-link [text]="'pages.style.button-link.text4'" [iconSquare]="false"
                    [icon]="IconClassEnum.push_pin_fill" [iconColor]="'var(--bs-danger)'"
                    (clickEvent)="onClickBtn($event)" [testLabel]="'action_simple_icon'"></bl-button-link>
  </div>
</section>

<div class="m-4">
  <mat-slide-toggle [(ngModel)]="showSpecificLinkStyle"
                    color="primary">{{'pages.style.button-link.specificStyle'|translate}}</mat-slide-toggle>
  <ng-container *ngIf="showSpecificLinkStyle">

    <h4 class="mt-4">{{'pages.style.button-link.borderless-wraped-link'|translate}}</h4>
    <bl-button-link [text]="'pages.style.button-link.text5'"
                    [wrapText]="true" [borderless]="true" [iconSquare]="false"
                    [icon]="IconClassEnum.star_fill" [iconColor]="'var(--bubble-icon-red-color)'"
                    (clickEvent)="onClickBtn($event)" [testLabel]="'action_simple_icon'"
                    [iconSize]="2"
    ></bl-button-link>

  </ng-container>

</div>
