<bl-multi-card-template [pageIcon]="pageIcon" [pageTitle]="pageTitle" [titlesList]="titlesList" [onClosePage]="getToPreviousPage">

    <!-- FIRST FORM -->
    <div *blContentSelector>
      <form [formGroup]="formGroup1" >
          <bl-form-error-display [baseI18N]="formLabels" [displayErrorFields]="!layout.mobile"
                              [formGroup]="formGroup1" and="et" class="mb-1"></bl-form-error-display>
          <div class="row">
                  <bl-text-field [formControl]="formGroup1.controls.label1"
                              [id]="'1'"
                              [label]="'sample.libelle.label1'"
                              [maxLength]="15"
                              [testLabelValue]="'fomr1_input_1'"
                              [placeholder]="'sample.libelle.placeholder'"
                              [type]="'text'">
                  </bl-text-field>
          </div>
          <div class="row">
                  <bl-text-field [formControl]="formGroup1.controls.label2"
                              [id]="'2'"
                              [label]="'sample.libelle.label2'"
                              [maxLength]="12"
                              [testLabelValue]="'fomr1_input_2'"
                              [placeholder]="'sample.libelle.placeholder'"
                              [type]="'text'">
                  </bl-text-field>
            </div>
            <p class="subtitle"> Titre de séparation interne à la carte </p>
            <mat-divider></mat-divider>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <bl-datepicker [dateFormat]="'DD/MM/YYYY'"
                    [dateLocale]="'fr-FR'"
                    [formControl]="formGroup1.controls.date1"
                    [id]="'idDate1'"
                    [label]="'sample.datepicker.label'"
                    [testLabelValue]="'fomr1_datepicker_1'"
                    ></bl-datepicker>
                </div>
            </div>
            <div class="row">
                <bl-list-box [addNullableOption]="true"
                    [data]="listData"
                    [formControl]="formGroup1.controls.listBox"
                    [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'"
                    [testLabelValue] = "'fomr1_listBox'"
                    >
                </bl-list-box>
            </div>
        </form>
    </div>
<!-- SECOND FORM -->
<div *blContentSelector>
    <form [formGroup]="formGroup2" >
        <bl-form-error-display [baseI18N]="formLabels" [displayErrorFields]="!layout.mobile"
                            [formGroup]="formGroup2" and="et" class="mb-1"></bl-form-error-display>
          <div class="row">
            <div class="col-lg-4">
                <bl-text-field [formControl]="formGroup2.controls.label3"
                            [id]="'3'"
                            [label]="'sample.libelle.label3'"
                            [maxLength]="12"
                            [testLabelValue]="'form2_input_3'"
                            [placeholder]="'sample.libelle.placeholder'"
                            [type]="'text'">
                </bl-text-field>
            </div>
          <div class="col-lg-4">
            <bl-text-field [formControl]="formGroup2.controls.label4"
                        [id]="'4'"
                        [label]="'sample.libelle.label4'"
                        [maxLength]="15"
                        [testLabelValue]="'form2_input_4'"
                        [placeholder]="'sample.libelle.placeholder'"
                        [type]="'text'">
            </bl-text-field>
            </div>
          </div>
            <div class="row">
                    <bl-text-field [formControl]="formGroup2.controls.label5"
                                [id]="'5'"
                                [label]="'sample.libelle.label5'"
                                [maxLength]="12"
                                [testLabelValue]="'form2_input_5'"
                                [placeholder]="'sample.libelle.placeholder'"
                                [type]="'text'">
                    </bl-text-field>
            </div>
            <div class="row">
                <bl-list-box [addNullableOption]="true"
                    [data]="listData"
                    [formControl]="formGroup2.controls.listBox2"
                    [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'"
                    [testLabelValue] = "'form2_listBox2'"
                    >
                </bl-list-box>
            </div>
          <div class="row">
            <div class="col-lg-4">
                <bl-datepicker [dateFormat]="'DD/MM/YY'"
                [dateLocale]="'es-ES'"
                [formControl]="formGroup2.controls.date2"
                [id]="'idDate2'"
                [label]="'sample.datepicker.label'"
                [testLabelValue]="'form2_datepicker_2'"
                >
                </bl-datepicker>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
                <label class="subtitle"> Autres champs </label>
                <bl-checkbox
                    [formControl]="formGroup2.controls.checkbox1"
                    [testLabelValue]="'form2_checkbox_1'"
                    [matToolTip]="'Checkbox'">
                    Checkbox
                    </bl-checkbox>
                    <br>
                    <bl-checkbox
                    [formControl]="formGroup2.controls.checkbox2"
                    [testLabelValue]="'form2_checkbox_1'"
                    [matToolTip]="'Checkbox'">
                    Checkbox
                    </bl-checkbox>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                  <bl-radio [formControl]="formGroup2.controls.radioBox"
                  [label]="'Autres champs'"
                  [listOfOptions]="listRadioBox">
                  </bl-radio>
            </div>
            </div>
        </form>
      </div>
      <!-- THIRD FORM -->
    <div *blContentSelector>
        <form [formGroup]="formGroup3" >
            <bl-form-error-display [baseI18N]="formLabels" [displayErrorFields]="!layout.mobile"
                                [formGroup]="formGroup3" and="et" class="mb-1"></bl-form-error-display>
            <div class="row">
                    <bl-text-field [formControl]="formGroup3.controls.label6"
                                [id]="'6'"
                                [label]="'sample.libelle.label6'"
                                [maxLength]="15"
                                [testLabelValue]="'form3_input_6'"
                                [placeholder]="'sample.libelle.placeholder'"
                                [type]="'text'">
                    </bl-text-field>
            </div>
            <div class="row">
                    <bl-text-field [formControl]="formGroup3.controls.label7"
                                [id]="'7'"
                                [label]="'sample.libelle.label7'"
                                [maxLength]="12"
                                [testLabelValue]="'form3_input_7'"
                                [placeholder]="'sample.libelle.placeholder'"
                                [type]="'text'">
                    </bl-text-field>
              </div>
              <div class="row">
                <bl-text-field [formControl]="formGroup3.controls.label8"
                            [id]="'8'"
                            [label]="'sample.libelle.label8'"
                            [maxLength]="12"
                            [testLabelValue]="'form3_input_8'"
                            [placeholder]="'sample.libelle.placeholder'"
                            [type]="'text'">
                </bl-text-field>
              </div>

              <div class="row">
                  <bl-list-box [addNullableOption]="true"
                      [data]="listData"
                      [formControl]="formGroup3.controls.listBox2"
                      [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'"
                      [testLabelValue] = "'form3_listBox'"
                      >
                  </bl-list-box>
              </div>
               <!-- Button d'action-->
               <bl-button
               (click)="cancelAction()"
               title="{{ 'sample.button.action' | translate }}"
               [primary]="false"
               [testLabelValue]="'btn_action'"
               class="btn_end"
             ></bl-button>
          </form>
      </div>
  <!-- FOURTH FORM -->
  <div *blContentSelector>
      <form [formGroup]="formGroup4" >
          <bl-form-error-display [baseI18N]="formLabels" [displayErrorFields]="!layout.mobile"
                              [formGroup]="formGroup4" and="et" class="mb-1"></bl-form-error-display>
            <div class="row">
              <div class="col-lg-4">
                    <bl-list-box [addNullableOption]="true"
                        [data]="listData"
                        [formControl]="formGroup4.controls.listBox3"
                        [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'"
                        [testLabelValue] = "'form4_listBox3'"
                        >
                    </bl-list-box>
              </div>
              <div class="col-lg-4">
                    <bl-list-box [addNullableOption]="true"
                        [data]="listData"
                        [formControl]="formGroup4.controls.listBox4"
                        [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'"
                        [testLabelValue] = "'form4_listBox4'"
                        >
                    </bl-list-box>
              </div>
            </div>
              <div class="row">
                      <bl-text-field [formControl]="formGroup4.controls.label9"
                                  [id]="'5'"
                                  [label]="'sample.libelle.label9'"
                                  [maxLength]="12"
                                  [testLabelValue]="'form4_input_9'"
                                  [placeholder]="'sample.libelle.placeholder'"
                                  [type]="'text'">
                      </bl-text-field>
              </div>
              <div class="row">
                <bl-text-field [formControl]="formGroup4.controls.label10"
                            [id]="'5'"
                            [label]="'sample.libelle.label'"
                            [maxLength]="12"
                            [testLabelValue]="'form4_input_10'"
                            [placeholder]="'sample.libelle.placeholder'"
                            [type]="'text'">
                </bl-text-field>
              </div>

        </form>
  </div>

<!-- Actions du Footer -->
  <div footer class="d-flex justify-content-end">
      <bl-button
        (click)="onSubmitForm()"
        title="{{ 'sample.button.save' | translate }}"
        [primary]="true"
        type="submit"
        [disabled]="formGroup1.invalid || formGroup2.invalid  || formGroup3.invalid  || formGroup4.invalid"
        [testLabelValue]="'save_action'"
        style="margin: 10px 10px 10px"
      ></bl-button>

      <bl-button
      (click)="cancelAction()"
      title="{{ 'sample.button.rollback' | translate }}"
      [primary]="false"
      [testLabelValue]="'cancel_action'"
      style="margin-bottom: 10px;margin-top: 10px;"
    ></bl-button>
 </div>

</bl-multi-card-template>
