.subtitle{
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    border: #707070;
    margin-left: 10px;
}

.btn_end{
    display: flex;
    bottom: 25px;
    position: absolute;
    right: 25px;
}