<div class="button-container">
    <bl-button 
            [widthOfButton]="80"
            (click)="doOnClickValidate()" [id]="'btnValidate'" [primary]="true" [testLabelValue]="'button1'" [title]="'sample.button.validate'"></bl-button>
    <bl-button (click)="doOnClickRollback()" [id]="'btnRollback'" [testLabelValue]="'button2'" [title]="'sample.button.rollback'"></bl-button>
    <bl-button [disabled]="true" (click)="doOnClickDelete()" [id]="'btnDelete'" [testLabelValue]="'button3'" [title]="'sample.button.delete'"></bl-button>
</div>
<br>
<div class="button-container">
    <bl-button (click)="doOnClickValidate()" [iconClass]="classValidate" [id]="'btnValidate'" [primary]="true" [testLabelValue]="'button_with_icon_1'" [title]="'sample.button.validate'"></bl-button>
    <bl-button (click)="doOnClickRollback()" [iconClass]="classRollback" [id]="'btnRollback'"  [testLabelValue]="'button_with_icon_2'" [title]="'sample.button.rollback'"></bl-button>
    <bl-button (click)="doOnClickDelete()" [iconClass]="classDelete" [id]="'btnDelete'"  [testLabelValue]="'button_with_icon_3'" [title]="'sample.button.delete'"></bl-button>
</div>
<br>
<br>
<div class="button-container">
    <bl-button (click)="doOnClickValidate()" [circularButton]="true" [iconClass]="classValidate" [id]="'btnValidate'" [primary]="true" [testLabelValue]="'floating_button1'" [title]="'sample.button.validate'"></bl-button>
    <bl-button (click)="doOnClickRollback()" [circularButton]="true" [iconClass]="classRollback" [id]="'btnRollback'" [testLabelValue]="'floating_button2'" [title]="'sample.button.rollback'"></bl-button>
    <bl-button (click)="doOnClickDelete()" [circularButton]="true" [iconClass]="classDelete"  [id]="'btnDelete'" [testLabelValue]="'floating_button3'" [title]="'sample.button.delete'"></bl-button>
</div>
<br>
<br>
<div class="button-container mb-4">
    <bl-button (click)="doOnClickValidate()" [iconButton]="true"  [iconClass]="classValidate" [id]="'btnValidate'" [shadow]="true" [testLabelValue]="'icon_button1'" [title]="'sample.button.validate'"></bl-button>
    <bl-button (click)="doOnClickRollback()" [iconButton]="true"  [iconClass]="classRollback" [id]="'btnRollback'" [shadow]="true" [testLabelValue]="'icon_button2'" [title]="'sample.button.rollback'"></bl-button>
    <bl-button (click)="doOnClickDelete()" [iconButton]="true"  [iconClass]="classDelete" [id]="'btnDelete'" [shadow]="true" [testLabelValue]="'icon_button3'" [title]="'sample.button.delete'"></bl-button>
</div>
<div [innerHTML]="'sample.button.demo.smallBack.title' | translate"></div>
<div class="button-container mt-4">
    <bl-button (click)="doOnClickValidate()" [iconButton]="true" [iconClass]="classValidate" [id]="'btnValidate'" [shadow]="true" [smallBack]="true" [testLabelValue]="'icon_button1'" [title]="'sample.button.validate'"></bl-button>
    <bl-button (click)="doOnClickRollback()" [iconButton]="true" [iconClass]="classRollback"  [id]="'btnRollback'" [shadow]="true" [smallBack]="true" [testLabelValue]="'icon_button2'" [title]="'sample.button.rollback'"></bl-button>
    <bl-button (click)="doOnClickDelete()" [iconButton]="true" [iconClass]="classDelete"  [id]="'btnDelete'" [shadow]="true" [smallBack]="true" [testLabelValue]="'icon_button3'" [title]="'sample.button.delete'"></bl-button>
</div>
<br>
<br>
<div>{{'sample.button.demo.size.title' | translate}}</div>
<div class="button-container">
    <bl-button (click)="doOnClickDelete()" [iconButton]="true" [iconClass]="classDelete" [id]="'btnDelete'" [size]="1" [testLabelValue]="'icon_resized_button1'" [title]="'sample.button.delete'"></bl-button>
    <bl-button (click)="doOnClickDelete()" [iconButton]="true" [iconClass]="classDelete" [id]="'btnDelete'" [size]="2" [testLabelValue]="'icon_resized_button2'" [title]="'sample.button.delete'"></bl-button>
    <bl-button (click)="doOnClickDelete()" [iconButton]="true" [iconClass]="classDelete" [id]="'btnDelete'" [size]="3" [testLabelValue]="'icon_resized_button3'" [title]="'sample.button.delete'"></bl-button>
</div>
<br>
<h3 [innerHTML]="'sample.button.demo.button.recommendation.title'|translate" class="anchor border-bottom mt-4 bl-zt-h2"> </h3>
<p [innerHTML]="'sample.button.demo.button.recommendation.tense1' | translate"></p>
<p [innerHTML]="'sample.button.demo.button.recommendation.tense2' | translate"></p>
<p [innerHTML]="'sample.button.demo.button.recommendation.tense3' | translate"></p>
<p class="mb-2"  [innerHTML]="'sample.button.demo.button.recommendation.tense4' | translate"></p>
