<bl-generic-dialog #imagePickerDialog
                   (yesEvent)="event('yes')"
                   (cancelEvent)="event('cancel')">
    <div bl-generic-dialog__content>
            <h4 class="bl-zt-h4">{{'pages.variables.image-picker.dialog-sub-title' | translate}}</h4>
            <bl-image-picker [imagesList]="imagesList"
                             [selectedImage]="selectedImage"
                             (selectImage)="selectImage($event)"></bl-image-picker>
    </div>
</bl-generic-dialog>
