<div class="container">
  <h3 class="m-3">
    {{'sample.text-field.title'|translate}}
  </h3>
  <form [formGroup]="formGroup">
    <div class="row">
     <div class="col-lg-4">
      <bl-text-field [formControl]="formGroup.controls.label1"
                    [id]="'1'"
                    [label]="'sample.libelle.label'"
                    [maxLength]="15"
                     [customErrorsMap]="customErrorMap"
                     [testLabelValue]="'input1'"
                    [placeholder]="'sample.libelle.placeholder'"
                    [type]="'text'">
      </bl-text-field>
     </div>
    <div class="col-lg-4">
      <bl-text-field [displaySearch]="true"
                    [formControl]="formGroup.controls.label2"
                    [id]="'2'"
                     [customErrorsMap]="customErrorMap"
                    [label]="'sample.libelle.search'"
                    [maxLength]="400"
                     [testLabelValue]="'input2'"
                    [placeholder]="''"
                    [type]="'search'">
      </bl-text-field>
    </div>
    </div>
  <div class="row">
    <div class="col-lg-4">
      <bl-text-field [formControl]="formGroup.controls.label3"
                    [id]="'3'"
                    [label]="'sample.libelle.read-only'"
                     [testLabelValue]="'input3'"
                    [readOnly]=true>
      </bl-text-field>
    </div>
    <div class="col-lg-4">
      <bl-text-field [formControl]="formGroup.controls.label4"
                    [id]="'4'"
                    [label]="'sample.libelle.uppercase'"
                    [upperCase]="true"
                    [testLabelValue]="'input4'"
                    >
      </bl-text-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <bl-text-field [formControl]="formGroup.controls.label5"
          [id]="'5'"
          [label]="'sample.libelle.password'"
          [type]="'password'"
          [testLabelValue]="'input5'"
          >
      </bl-text-field>
    </div>
    <div class="col-lg-4">
      <bl-text-field [formControl]="formGroup.controls.label6"
          [id]="'6'"
          [label]="'sample.libelle.number'"
          [type]="'number'" [isNumber]="true"
          [displayCurrency]="true"
          [testLabelValue]="'input6'">
      </bl-text-field>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-4">
        <bl-text-field [formControl]="formGroup.controls.label7"
                       [required]="true"
                       [customErrorsMap]="customErrorMap"
                       [id]="'7'"
                       [label]="'sample.libelle.erreurs'"
                       [maxLength]="10"
                       [placeholder]="'sample.libelle.erreurs'"
                       [type]="'text'"
                       [testLabelValue]="'input7'"
                       >
        </bl-text-field>
      </div>
      <p>  {{'sample.text-field.onBlur-title'|translate}}</p>
      <div class="col-lg-4">
        <bl-text-field [formControl]="formGroup.controls.label8"
                       [customErrorsMap]="customErrorMap"
                       [id]="'8'"
                       [label]="'sample.libelle.counter'"
                       [maxLength]="20"
                       [calculateMaxLength]="true"
                       [placeholder]="'sample.libelle.counter'"
                       [type]="'text'"
                       [testLabelValue]="'input8'"
                       (onBlurAction)="onBlur($event)"
        >
        </bl-text-field>
        <p>{{'sample.text-field.onBlur-desc'|translate}}</p>
      </div>

    </div>
  </form>
</div>
