<div class="d-flex ">

  <bl-counter
    [descend]="true"

    [icon]="down"
    [mainNumber]="'100'"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Dépenses'"
    class="m-2"
  ></bl-counter>
  <bl-counter

    [ascend]="true"

    [icon]="up"
    [mainNumber]="'100'"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Gains'"
    class="m-2"
  ></bl-counter>
  <bl-counter
    [icon]="stable"

    [mainNumber]="'100'"
    [stable]="true"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Balance'"
    class="m-2"
  ></bl-counter>

</div>
<div class="d-flex">
  <bl-counter

    [cardVersion]="true"
    [descend]="true"
    [icon]="down"
    [mainNumber]="'10€'"
    [resultOperation]="'59'"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Dépenses'"
    class="m-3"

  ></bl-counter>
  <bl-counter
    [ascend]="true"
    [cardVersion]="true"
    [icon]="up"
    [mainNumber]="'10€'"
    [resultOperation]="'59'"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Gains'"
    class="m-3"

  ></bl-counter>
  <bl-counter
    [cardVersion]="true"
    [icon]="stable"
    [mainNumber]="'0'"
    [resultOperation]="'0'"
    [stable]="true"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Balance'"
    class="m-3"

  ></bl-counter>

</div>
<div class="d-flex">
  <bl-counter

    [cardVersion]="true"
    [descend]="true"
    [icon]="down"
    [mainNumber]="'10€'"
    [points]="descPoints"
    [resultOperation]="'59'"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Dépenses'"
    class="m-3"
  ></bl-counter>
  <bl-counter
    [ascend]="true"
    [cardVersion]="true"
    [icon]="up"
    [mainNumber]="'10€'"
    [points]="ascPoints"
    [resultOperation]="'59'"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Gains'"
    class="m-3"
  ></bl-counter>
  <bl-counter
    [cardVersion]="true"
    [icon]="stable"
    [mainNumber]="'0'"
    [points]="stablePoints"
    [resultOperation]="'0'"
    [stable]="true"
    [subtitle]="'Les 7 derniers jours'"
    [title]="'Balance'"
    class="m-3"
  ></bl-counter>

</div>

