<div style="width: 100%; text-align: center;margin: 15px">

    <bl-icon [iconClassName]="'folder_open'" [size]="2" style="margin: 5px;color: #495057"></bl-icon>
    <span> {{ 'pages.divider.exemple1' | translate }}</span>
    <bl-divider></bl-divider>
    <bl-button [title]="'pages.divider.exemple2'|translate" style="margin: 5px"></bl-button>
    <bl-divider></bl-divider>
    <span> {{ 'pages.divider.exemple3' | translate }}</span>
    <bl-divider [vertical]="true" style="height: 100px"></bl-divider>

</div>


