<form [formGroup]="formGroup">
    <bl-radio [formControl]="formGroup.controls.example1"
            [label]="'Etat par défaut'"
              [listOfOptions]="list"
    [testLabel]="'ex_radio1'">
    </bl-radio>
    <br/>
    <bl-radio [formControl]="formGroup.controls.example2"
            [label]="'Etat lecture seule (read only)'"
              [listOfOptions]="list"
            [readonly]="true"
              [testLabel]="'ex_radio2'">
    </bl-radio>
    <br/>
    <bl-radio [disabled]="true"
            [formControl]="formGroup.controls.example3"
            [label]="'Etat grisé (disabled)'"
            [listOfOptions]="list"
            [matToolTip]="'Cette radion bouton est grisé'"
              [testLabel]="'ex_radio3'">
    </bl-radio>
    <br/>
    <bl-radio [formControl]="formGroup.controls.example4"
            [isNonSelected]="true"
            [isObligatory]="false"
            [label]="'Affichage lorsque la sélection d\'une option est facultative'"
            [listOfOptions]="list"
            [matToolTip]="'Cette radion bouton est non sélectionné'"
              [testLabel]="'ex_radio4'">
    </bl-radio>
    <br/>
    <bl-radio [formControl]="formGroup.controls.example6"
              [isNonSelected]="true"
              [label]="'Affichage lorsque la sélection d\'une option est obligatoire'"

              [listOfOptions]="list"
              [matToolTip]="'Cette radion bouton est non sélectionné'"
              [testLabel]="'ex_radio5'">
    </bl-radio>
    <br/>
    <bl-radio [formControl]="formGroup.controls.example5"
              [isNonSelected]="true"
              [label]="'Affichage lorsque la sélection d\'une option est obligatoire et astérisque caché'"
              [notRequiredAsterix]="true"
              [listOfOptions]="list"
              [matToolTip]="'Cette radion bouton est non sélectionné'"
              [testLabel]="'ex_radio5'">
    </bl-radio>

    <br/>
    <bl-radio [formControl]="formGroup.controls.example7"
              [isVertical]="false"
              [label]="'Exemple de boutons radio affichés à l\'horizontal'"
              [listOfOptions]="list"
              [testLabel]="'ex_radio6'">
    </bl-radio>
</form>
<br>
<br>
