<h3 class="m-4">{{'pages.variables.card-expansion-panel.simple-sample'|translate}}</h3>
<bl-expension-panel
  [testLabelValue] = "'expension_panel'"
  [expensionTitle]="title"
  [expensionDescription]="description"
>
  <mat-form-field appearance="fill">
    <mat-label testlabel = "expension_panel_label_1">First name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label testlabel = "expension_panel_label_2">Age</mat-label>
    <input matInput type="number" min="1" testlabel = "expension_panel_input" />
  </mat-form-field>
</bl-expension-panel>

<h3 class="m-4">{{'pages.variables.card-expansion-panel.sample-custom-header'|translate}}</h3>
<bl-expension-panel
  [testLabelValue] = "'expension_panel'"
  [expensionDescription]="description"
  [expensionIcon]="IconClassEnum.info_fill"
  [iconHeader]="iconHeader"
>
  <ng-template #header>
    <p class="title-style">{{title}}</p>
    <bl-number-chip>9</bl-number-chip>
  </ng-template>

  <mat-form-field appearance="fill">
    <mat-label testlabel = "expension_panel_label_1">First name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label testlabel = "expension_panel_label_2">Age</mat-label>
    <input matInput type="number" min="1" testlabel = "expension_panel_input" />
  </mat-form-field>
</bl-expension-panel>

<div class="mb-4">
  <h3 class="m-4">{{'pages.variables.card-expansion-panel.sample-under-card'|translate}}</h3>
  <bl-card [testLabelValue]="'Card_with_expention_panel_card'" class="cardContainer">
    <bl-card-header [title]="'Titre de Carte'" [subTitle]="'sous-titre'" [testLabelValue]="'Card_with_expention_panel_card'"> </bl-card-header>
    <bl-card-body [style]="'m-2'" [testLabelValue]="'Card_with_expention_panel_card'">
      <span>Contenue de la carte</span>
    </bl-card-body>
  </bl-card>
  <div     class="card-with-expension" >
    <bl-expension-panel
      class="card-with-expension"
      [testLabelValue]="'Card_with_expention_panel'"
      [expensionTitle]="title"
      [expensionDescription]="description"
    >
      <mat-form-field appearance="fill">
        <mat-label testlabel="Card_with_expention_panel_label_1">First name</mat-label>
        <input matInput testlabel="Card_with_expention_panel_input1"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label testlabel="Card_with_expention_panel_label_2">Age</mat-label>
        <input matInput type="number" min="1" testlabel="Card_with_expention_panel_input2"/>
      </mat-form-field>
    </bl-expension-panel>
  </div>
</div>
<h3 class="m-4">{{'pages.variables.card-expansion-panel.sample-inside-card'|translate}}</h3>
<bl-card testlabel="Card_with_expention_panel" class="cardContainer">
  <bl-card-header [title]="'Histoire de Lorem Ipsum'" [subTitle]="'sous-titre'"> </bl-card-header>
  <bl-card-body [style]="'m-2'" testlabel="Card_with_expention_panel_body">
    <span>  Lorem Ipsum is simply dummy text of the printing and typesetting industry

</span>
  </bl-card-body>
  <bl-card-footer>
    <bl-expension-panel
      class="card-with-expension"
      testlabel="Card_with_expention_panel_footer"
      [expensionTitle]="title"
      [expensionDescription]="description"
    >
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" />
      </mat-form-field>
    </bl-expension-panel>
  </bl-card-footer>
</bl-card>
