<p>{{'sample.transverse.default' | translate}}</p>
<div class="d-flex justify-content-between align-items-center item align-middle">
  <bl-transverse-menu [data]="data" [listAction]="lstAction" [testLabelValue]="'menu1'">
  </bl-transverse-menu>
</div>
<br>
<p>{{'sample.transverse.withTitle' | translate}}</p>
<div class="d-flex justify-content-between align-items-center item align-middle">
  <bl-transverse-menu [data]="data"
                      [listAction]="lstAction"
                      [testLabelValue]="'menu2'"
                      [title]="'Menu'"
  >
  </bl-transverse-menu>
</div>
<br>
<p>{{'sample.transverse.withIcon' | translate}}</p>
<div class="d-flex justify-content-between align-items-center item align-middle">
  <bl-transverse-menu [iconClass]="'ph ph-list'"
                      [listAction]="lstAction"
                      [testLabelValue]="'menu3'"
  >
  </bl-transverse-menu>
</div>
<br>
<p>{{'sample.transverse.withMatcard' | translate}}</p>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{'sample.transverse.changeInAllCards' | translate}}</p>
        <div *ngFor="let datum of data"  class="mat-card">
          <mat-card-content  class="matContent">
            <div class="border-styles">
              <div class="flex-container">
                <div class="ph ph-clock left-div">
                                <span class="note-created-date">
                                    {{ this.date }}
                                </span>
                </div>
                <div [ngClass]="'buttonPosition-mobile'">
                  <bl-transverse-menu [data]="datum"
                                      [iconClass]="'ph-list'"
                                      [listAction]="lstAction"
                                      [testLabelValue]="'menu4'"
                  >
                  </bl-transverse-menu>
                </div>
              </div>
              <mat-card-title class="flex-row justify-content-between">
                <div class="flex-column gap-10">
                  <div class="flex-row flex-wrap align-items-center gap-10">
                    <div class="note-title-thumbnail">{{ 'sample.vertical.matcardState' | translate }}</div>
                    <span class="note-title-created-by">{{ datum.label }}</span>
                  </div>
                </div>
              </mat-card-title>
              <mat-card-content class="matContent">
                <span class="note-text">{{ datum.data }}</span>
              </mat-card-content>
            </div>
          </mat-card-content>
        </div>

      </div>
      <div class="col">
        <p>{{'sample.transverse.changeInTouchedCard' | translate}}</p>
        <div *ngFor="let datum of data2" class="mat-card">
          <mat-card-content  class="matContent">
            <div class="border-styles">
              <div class="flex-container">
                <div class="ph ph-clock left-div">
                <span class="note-created-date">
                    {{ this.date }}
                </span>
                </div>
                <div [ngClass]="'buttonPosition-mobile'">
                  <bl-transverse-menu [data]="datum"
                                      [iconClass]="'ph-list'"
                                      [listAction]="datum.blMenuActions"
                                      [testLabelValue]="'menu5'"
                  >
                  </bl-transverse-menu>
                </div>
              </div>
              <mat-card-title class="flex-row justify-content-between">
                <div class="flex-column gap-10">
                  <div class="flex-row flex-wrap align-items-center gap-10">
                    <div class="note-title-thumbnail">{{ 'sample.vertical.matcardState' | translate }}</div>
                    <span class="note-title-created-by">{{ datum.label }}</span>
                  </div>
                </div>
              </mat-card-title>
              <mat-card-content class="matContent">
                <span class="note-text">{{ datum.data }}</span>
              </mat-card-content>
            </div>
          </mat-card-content>
        </div>

      </div>
    </div>
  </div>
