<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-4">
            Dans un formulaire mettre 'Aucun' dans le placeholder
        </div>
        <div class="col-4">
            Dans des filtres de recherche mettre 'Tous' dans le placeholder
        </div>
        <div class="col-4">
            Dans le cas ou la valeur est en lecture seule
        </div>
    </div>
    <div class="row">
        <bl-autocomplete [data]="lst" [formControl]="formGroup.controls.autocomplete"
                     [label]="'sample.list.autocomplete'"
                     [placeholder]="'sample.list.aucun'" class="col-4"
                     [testLabelValue] = "'autocomplete1'">
        </bl-autocomplete>
        <bl-autocomplete [data]="lst" [formControl]="formGroup.controls.autocomplete2"
                         [label]="'sample.list.autocomplete'"
                         [placeholder]="'sample.list.all'" class="col-4"
                         [testLabelValue] = "'autocomplete2'">
        </bl-autocomplete>
        <bl-autocomplete [data]="lst" [formControl]="formGroup.controls.autocomplete3"
                         [label]="'sample.libelle.read-only'" [readOnly]="true"
                         [placeholder]="'sample.list.all'" class="col-4"
                         [testLabelValue] = "'autocomplete3_readOnly'"
                         >
        </bl-autocomplete>
        <bl-autocomplete [formControl]="formGroup.controls.autocomplete4" (selectableListChangeEvent)="getData($event)"
                         [label]="'sample.list.ServiceAutocomplete'"
                         [data]="autocompleteList"
                         [clearSearch]="false"
                         [placeholder]="'sample.list.all'" class="col-4"
                         [testLabelValue] = "'autocomplete4_with_service'"
                         >
        </bl-autocomplete>
    </div>
    <div class="row">
        <bl-multicombo [data]="lst"
                       [formControl]="formGroup.controls.multiCombo"
                       [label]="'sample.list.multicombo'" [placeholder]="'sample.list.aucun'" class="col-4"
                       [testLabelValue] = "'multiCombo1'"
                       >
        </bl-multicombo>
        <bl-multicombo [data]="lst"
                       [formControl]="formGroup.controls.multiCombo2"
                       [label]="'sample.list.multicombo'" [placeholder]="'sample.list.all'" class="col-4"
                       [testLabelValue] = "'multiCombo2'"
                       >
        </bl-multicombo>
        <bl-multicombo [data]="lst"
                       [formControl]="formGroup.controls.multiCombo3" [readOnly]="true"
                       [label]="'sample.libelle.read-only'" [placeholder]="'sample.list.all'" class="col-4"
                       [testLabelValue] = "'multiCombo3_readOnly'"
                       >
        </bl-multicombo>
    </div>
    <div class="row">
        <bl-list-box [addNullableOption]="true"
                     [data]="lst"
                     [formControl]="formGroup.controls.listBox"
                     [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'" class="col-4"
                     [testLabelValue] = "'listBox1'"
                     >
        </bl-list-box>
        <bl-list-box [addNullableOption]="true"
                     [data]="lst"
                     [formControl]="formGroup.controls.listBox2"
                     [label]="'sample.list.listbox'" [placeholder]="'sample.list.all'" class="col-4"
                     [testLabelValue] = "'listBox2'"                     >
        </bl-list-box>
        <bl-list-box [addNullableOption]="true"
                     [data]="lst"
                     [formControl]="formGroup.controls.listBox3" [readOnly]="true"
                     [label]="'sample.libelle.read-only'" [placeholder]="'sample.list.all'" class="col-4"
                     [testLabelValue] = "'listBox3'"
                     >
        </bl-list-box>
    </div>
    <div class="row">
        <bl-search [data]="options"
                   [formControl]="formGroup.controls.search"
                   [label]="'sample.list.search'" [placeholder]="'sample.list.aucun'" class="col-4"
                   [testLabelValue] = "'search1'"
                   >
        </bl-search>
        <bl-search [data]="options"
                   [formControl]="formGroup.controls.search2"
                   [hideEmptyOptionOnSearch]="false"
                   [label]="'sample.list.search'"
                   [placeholder]="'sample.list.all'" [withEmptyOption]="true" class="col-4"
                   [testLabelValue] = "'search2'"
                   >
        </bl-search>
        <bl-search [data]="options"
                   [formControl]="formGroup.controls.search3" [readOnly]="true"
                   [label]="'sample.libelle.read-only'" [placeholder]="'sample.list.aucun'" class="col-4"
                   [testLabelValue] = "'search3'"
                   >
        </bl-search>
    </div>
    <div class="row">
        <bl-multi-group-search [data]="optionsGroupe"
                   [formControl]="formGroup.controls.multiComboGroupSearch"
                   [label]="'sample.list.multicomboGroupSearch'" [placeholder]="'sample.list.aucun'" class="col-4"
                   [testLabelValue] = "'multicomboGroupSearch1'"
                   >
        </bl-multi-group-search>
        <bl-multi-group-search [data]="optionsGroupe"
                   [formControl]="formGroup.controls.multiComboGroupSearch2"
                   [hideEmptyOptionOnSearch]="false"
                   [label]="'sample.list.multicomboGroupSearch'"
                   [placeholder]="'sample.list.all'" [withEmptyOption]="true" class="col-4"
                   [testLabelValue] = "'multicomboGroupSearch2'"
                   >
        </bl-multi-group-search>
        <bl-multi-group-search [data]="optionsGroupe"
                   [formControl]="formGroup.controls.multiComboGroupSearch3" [readOnly]="true"
                   [label]="'sample.libelle.read-only'" [placeholder]="'sample.list.aucun'" class="col-4"
                   [testLabelValue] = "'multicomboGroupSearch3'"
                   >
        </bl-multi-group-search>
    </div>
</form>
