<h3 class="mb-4">{{ 'pages.style.nav-card.exemple1' | translate }}</h3>
<div *ngIf="!hideExempl1" class="nav-card-sample">
  <bl-nav-card  [groupsData]="groups" [testLabel]="'my-card-menu'" [disableAnimation]="true" (clickOnLinkEvent)="emitClickEvent($event)" (clickOnMarketinPanelLinkEvent)="emitClickEvent($event)"></bl-nav-card>
</div>

<h3 class="mb-4">{{ 'pages.style.nav-card.exemple2' | translate }}</h3>

<bl-button
  (click)="openMenuCard()"
  [circularButton]="true"
  [iconClass]="nine_point"
  [id]="'btn_open_costum_popup'"
  [primary]="true"
  [testLabelValue]="'nav-card-button'"
  [title]="'sample.button.openCard'|translate"
></bl-button>

<h4 class="mt-4"> {{ 'pages.style.nav-card.codeExemple' | translate }} </h4>
<bl-code-tab
  [codeTabs]="dialogCode">
</bl-code-tab>
