<bl-label-counter
        [labelClass]="'adaptedHeight'"
        [labelValue]="'Info Label'"
        [testLabelValue]="'info_sample'"
> </bl-label-counter>
<bl-label-counter
        [labelClass]="'m-2'"
        [labelState]="warningState"
        [labelValue]="'Warning Label'"
        [testLabelValue]="'warning_sample'"
> </bl-label-counter>
<bl-label-counter
        [iconLabel]="iconError"

        [labelState]="errorState"

        [testLabelValue]="'error_sample'"
>  <div>Error <strong>Label</strong> </div>  </bl-label-counter>
<bl-label-counter
        [labelClass]="'m-2'"
        [labelState]="successState"
        [labelValue]="'Success Label'"
        [testLabelValue]="'success_sample'"
> </bl-label-counter>
<mat-slide-toggle [(ngModel)]="showColors" class="mt-2" color="primary">{{'sample.counter.showColors' | translate}}</mat-slide-toggle>
<div *ngIf="showColors" style="max-width: 50%;">
    <bl-label-counter *ngFor="let color of colorKeys"
                      [labelClass]="'m-2'"
                      [labelState]="getClassFromKey(color)"
                      [labelValue]="'Couleur pour BlLabelCounterState.' + color"
                      [testLabelValue]="'success_sample'"
    ></bl-label-counter>
</div>
