<div class="row">
  <div class="col">
    <h6 class="mt-2">{{ 'sample.dialog.success.description' | translate }}</h6>
    <bl-button
      (click)="openSuccessDialog()"
      [primary]="true"
      [testLabelValue]="'succes_dialog'"
      title="{{ 'sample.dialog.success.button' | translate }}"
    >
    </bl-button>

    <h6 class="mt-2">{{ 'sample.dialog.error.description' | translate }}</h6>
    <bl-button
      (click)="openErrorDialog()"
      [primary]="true"
      [testLabelValue]="'error_dialog'"
      title="{{ 'sample.dialog.error.button' | translate }}"
    >
    </bl-button>

    <h6 class="mt-2">
      {{ 'sample.dialog.technicalError.description' | translate }}
    </h6>
    <bl-button
      (click)="openTechnicalErrorDialog()"
      [primary]="true"
      [testLabelValue]="'technicalError_dialog'"
      title="{{ 'sample.dialog.technicalError.button' | translate }}"
    >
    </bl-button>
  </div>

  <div class="col">
    <h6 class="mt-2">{{ 'sample.dialog.save.description' | translate }}</h6>
    <bl-button
      (click)="openSaveDialog()"
      [primary]="true"
      [testLabelValue]="'save_dialog'"
      title="{{ 'sample.dialog.save.button' | translate }}"
    >
    </bl-button>

    <h6 class="mt-2">{{ 'sample.dialog.delete.description' | translate }}</h6>
    <bl-button
      (click)="openDeleteDialog()"
      [primary]="true"
      [testLabelValue]="'delete_dialog'"
      title="{{ 'sample.dialog.delete.button' | translate }}"
    >
    </bl-button>

    <h6 class="mt-2">{{ 'sample.dialog.info.description' | translate }}</h6>
    <bl-button
            (click)="openInfoDialog()"
            [primary]="true"
            [testLabelValue]="'custom_info_dialog'"
            title="{{ 'sample.dialog.info.button' | translate }}"
    >
    </bl-button>

    <h6 class="mt-2">{{ 'sample.dialog.custom.description' | translate }}</h6>
    <bl-button
      (click)="openCustomDialog()"
      [primary]="true"
      [testLabelValue]="'custom_dialog'"
      title="{{ 'sample.dialog.custom.button' | translate }}"
    >
    </bl-button>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col">
    <h6 class="mt-2">{{ 'sample.dialog.save.description' | translate }}</h6>
    <bl-button
            (click)="openSaveDialogBloc()"
            [primary]="true"
            [testLabelValue]="'save_dialog'"
            title="{{ 'sample.dialog.save.button' | translate }} - {{ 'sample.dialog.blocker' | translate }}"
    >
    </bl-button>
  </div>

  <div class="col">
    <h6 class="mt-2">{{ 'sample.dialog.custom.description' | translate }}</h6>
    <bl-button
      (click)="openCustomDialog(1000)"
      [primary]="true"
      [testLabelValue]="'custom_dialog'"
      title="{{ 'sample.dialog.custom.button' | translate }} - {{ 'sample.dialog.blocker' | translate }}"
    >
    </bl-button>
  </div>

</div>
<div class="mt-3 w-50">
<h6>{{ 'sample.dialog.custom.pathEnum' | translate }}</h6>

  <ul>
    <li>{{ 'sample.dialog.custom.errorLink' | translate }}</li>
    <li>{{ 'sample.dialog.custom.warningLink' | translate }}</li>
    <li>{{ 'sample.dialog.custom.questionLink' | translate }}</li>
    <li>{{ 'sample.dialog.custom.successLink' | translate }}</li>
    <li>{{ 'sample.dialog.custom.technicalLink' | translate }}</li>
  </ul>
</div>
