<form [formGroup]="formGroup">
    <bl-month-picker [formControl]="formGroup.controls.period"
               [id]="'idMyPeriode'"
               [label]="'sample.periode.label'"
               [placeholder]="'sample.periode.placeholder'"
               [testLabelValue]="'monthPicker1'"
    >
    </bl-month-picker>

    <bl-month-picker [formControl]="formGroup.controls.periodReadOnly"
                     [id]="'idMyPeriodeReadOnly'"
                     [label]="'sample.libelle.read-only'"
                     [placeholder]="'sample.periode.placeholder'"
                     [readOnly]="true"
                     [testLabelValue]="'monthPicker2'"
    >
    </bl-month-picker>

    <bl-month-picker [formControl]="formGroup.controls.withoutLabel"
                     [id]="'idMyPeriode'"
                     [label]="'sample.periode.label'"
                     [placeholder]="'sample.periode.placeholder'"
                     [showLabel]="false"
                     [testLabelValue]="'monthPicker3'"
    >
    </bl-month-picker>

    <bl-month-picker [formControl]="formGroup.controls.custumError"
                     [id]="'idMyPeriode'"
                     [label]="'sample.periode.label'"
                     [placeholder]="'sample.periode.placeholder'"
                     [customErrorsMap]="customErrorsMap"
                     [testLabelValue]="'monthPicker4'"
    >
    </bl-month-picker>
</form>
