<bl-sticky-header>
    <h1 class="bl-zt-h1 d-flex flex-row justify-content-between align-items-center" testLabel="titleTask_h1">
        <span>{{'sample.sticky-header.title' | translate}}</span>
        <bl-button
                   [iconButton]="true"
                   [iconClass]="'cross'"
                   [id]="'buttonClose'"
                   [shadow]="true"
                   [title]="'close'">
        </bl-button>
    </h1>
</bl-sticky-header>
<div *ngFor="let item of myArray">
    {{'sample.sticky-header.description' | translate }} {{item}}
</div>