<bl-window-content-with-right-panel [setFocus]="refSimpleRightPanel">
  <bl-window-content-panel>
    <mat-card class="container-fluid">

      <mat-card-content>
        <bl-table [config]="config" [compareObject]="comparing" [tableInMatCard]="false" #tableComponent
          [verticalLayout]="true" [filterComponentsConfig]="filterComponentsConfig" id="bl-table-custom-filter-sample"
          [filterGroup]="formGroup" #table class="bl-table-prent-width" [useTruncate]=true>
        </bl-table>

        <div class="row m-4">
          <div class="col-12">
            <h3>Exemples :</h3>
          </div>
          <div class="col-12">
            <ul>
              <li>
                <b>Le bouton ajouter bleu</b> permet de simuler l'action "marqué
                pour ajout"
              </li>
              <li>
                <b>Cliquer sur une ligne</b> permet de simuler l'action "marqué pour
                édition"
              </li>
              <li>
                <b>Cliquer sur l'action "supprimer"</b> permet de simuler l'action
                "marqué pour suppression"
              </li>
            </ul>

            <b>Actions possibles et rendus visuels :</b>
            <ul>
              <li>
                Ajout: si une ligne est annotée avec le statut "add", alors
                celle-ci sera en gras
              </li>
              <li>
                Edition: si une ligne est annotée avec le statut "edit", alors
                celle-ci sera en italique
              </li>
              <li>
                Suppression: si une ligne est annotée avec le statut "delete" ou
                "delete_after_edit", alors celle-ci sera barrée
              </li>
            </ul>

            <b>Différents états/statuts ( voir machine à états ci-dessous ):</b>
            <ul>
              <li>
                NONE:
                <ul>
                  <li>
                    Etat par défaut et est réprésenté par une chaîne de caractère
                    vide
                  </li>
                  <li>Indique l'absence d'action</li>
                </ul>
              </li>
              <li>
                TO_BE_REMOVED:
                <ul>
                  <li>
                    Etat déclenché lorsque l'on clique sur l'action supprimer
                    après l'ajout d'une ligne
                  </li>
                  <li>
                    Indique que la ligne doit être supprimée définitivement du
                    tableau
                  </li>
                </ul>
              </li>
              <li>
                DELETE:
                <ul>
                  <li>
                    Etat déclenché lorsque l'on clique sur l'action supprimer avec
                    None comme valeur par défaut
                  </li>
                  <li>
                    Indique que la ligne passe à l'état "marqué pour suppression"
                  </li>
                </ul>
              </li>
              <li>
                DELETE_AFTER_EDIT:
                <ul>
                  <li>
                    Etat déclenché lorsque l'on clique sur l'action supprimer
                    après avoir modifié la ligne
                  </li>
                  <li>
                    Indique que la ligne passe à l'état "marqué pour suppression"
                    après une édition
                  </li>
                </ul>
              </li>
              <li>
                ADD:
                <ul>
                  <li>état déclenché lorsque l'utilisateur créée un élément</li>
                  <li>
                    Indique que la ligne passe à l'état "marqué pour creation"
                  </li>
                </ul>
              </li>
              <li>
                EDIT:
                <ul>
                  <li>Etat déclenché lorsque l'utilisateur modifie un élément</li>
                  <li>
                    Indique que la ligne passe à l'état "marqué pour édition"
                  </li>
                </ul>
              </li>
            </ul>

            <b>Mise en place/Prérequis:</b>
            <ul>
              <li>
                [Obligatoire] Proprieté <b>markedFor</b> de globalParam.right à
                mettre à true
              </li>
              <li>[Obligatoire] Evénement MarkedFor à implémenter</li>
              <li>
                [Facultatif] La clé markedFor à remplir afin de préciser la
                proprieté dans laquelle bl-table doit récupérer le contenu du
                statut. La valeur par défaut est <b>statusRow</b>
              </li>
            </ul>

            <b>Evénement 'MarkedFor':</b>
            <ul>
              <li>
                Il est nécessaire d'implémenter l'événèment 'markedFor' afin de
                récupérer l'objet de retour lors du clic sur le bouton 'supprimer'
              </li>
              <li>
                L'objet contient le contenu de la ligne actuelle ainsi que le
                statut attendu en fonction du statut actuel de la ligne ( voir
                machine à état ci-dessous):
                <ul>
                  <li>
                    <b>currentRow:</b> ligne sur laquelle l'action a été appliquée
                    avec son statut actuel (s'il existe )
                  </li>
                  <li>
                    <b>expectedStatus:</b> status attendu en fonction de l'état (
                    voir machine à état )
                  </li>
                </ul>
              </li>
            </ul>

            <b>Idée d'implémentation :</b>
            <ul>
              <li>
                Utilisation d'une Hashmap ( voir exemple dans l'implémentation
                ci-dessous)
              </li>
              <li>
                Utilisation de 3 tableaux: editTable, deleteTable et addTable pour
                dissocier les 3 cas
              </li>
            </ul>

            <b>Version 1 :</b>
            <ul>
              <li>
                Cette première version de "Marqué pour " ne fait que de
                l'affichage en fonction du contenu de la proprieté statusRow
              </li>
              <li>
                C'est donc au développeur de remplir explicitement le contenu de
                la proprieté statusRow contenant le statut actuel
              </li>
              <li>
                La machine a état avec les différents états attendus en fonction
                du contexte actuel n'est qu'un prototype. Des améliorations
                peuvent être effectués à tout moment
              </li>
              <li>
                N'hésitez pas à nous faire des retours afin de faire évoluer cette
                fonctionnalité
              </li>
            </ul>
          </div>

          <div class="col-12 d-flex" style="place-content: center">
            <img src="./assets/img/doc/expected_status_schema.jpg" />
          </div>
        </div>
      </mat-card-content>

    </mat-card>
    <!--Ignore this part is used to just show the code source of the componenent-->
    <ng-content></ng-content>
    <!--Ignore this part is used to just show the code source of the componenent-->
  </bl-window-content-panel>
  <bl-window-content-simple-right-panel [title]="'Panel de droite'" #refSimpleRightPanel>
    <bl-filter-table-panel [tableComponent]="tableComponent">
      <!-- must contain "tableComponent.search()" and "tableComponent.reset()" -->
      <bl-text-field id="filter_matricule2" [formControl]="formGroup.controls.id"
        [label]="'sample.datatable.header.matricule'"></bl-text-field>
      <bl-text-field id="filter_nom2" [formControl]="formGroup.controls.nom"
        [label]="'sample.datatable.header.lastname'"></bl-text-field>
    </bl-filter-table-panel>
  </bl-window-content-simple-right-panel>
</bl-window-content-with-right-panel>