<div>
  <div>
    <h4>{{'sample.task.delayedTaskTitle' | translate}} </h4>
    <bl-task [actionsList]="myActionsList"
             [task]="delayedTask"
    >
    </bl-task>
  </div>
    <mat-slide-toggle [(ngModel)]="showBusinessImplementation" color="primary">{{'sample.task.showBusinessImplementation' | translate}}</mat-slide-toggle>
    <ng-container *ngIf="showBusinessImplementation">
      <div>
        <h4>{{'sample.task.notDelayedTaskTitle' | translate}} </h4>
        <bl-task (plusButtonEvent)="emitClickEvent($event)"
                 [actionsList]="myActionsList"
                 [displayPlusButton]="true"
                 [heartButton]="true"
                 [plusButtonToolTip]="'sample.task.plusButtonToolTipValue'"
                 [task]="notDelayedTask">
        </bl-task>
      </div>
      <div>
        <h4>{{'sample.task.TaskWithIncon' | translate}}</h4>
        <bl-task (plusButtonEvent)="emitClickEvent($event)"
                 [actionsList]="myActionsList"
                 [displayPlusButton]="true"
                 [iconImagePath]="'assets/img/BL_logo.png'"
                 [iconImageStyle]="costumIconImageStyle"
                 [plusButtonToolTip]="'sample.task.plusButtonToolTipValue'"
                 [task]="notDelayedTask"
                 >
        </bl-task>
      </div>
      <div>
        <h4>{{'sample.task.taskWithStatusTitle' | translate}} </h4>
        <bl-task [actionsList]="myActionsList"
                 [task]="taskDone">
        </bl-task>
      </div>
      <div>
        <h4>{{'sample.task.taskWithCustomDateMax' | translate}} </h4>
        <bl-task (plusButtonEvent)="emitClickEvent($event)"
                 [actionsList]="myActionsList"
                 [displayPlusButton]="true"
                 [iconImagePath]="'assets/img/BL_logo.png'"
                 [iconImageStyle]="costumIconImageStyle"
                 [plusButtonToolTip]="'sample.task.plusButtonToolTipValue'"
                 [task]="taskWithCustomDateMax">
        </bl-task>
      </div>
      <div>
        <h4>{{'sample.task.TaskWithButtonCheckSquare' | translate}}</h4>
        <bl-task (UpdateButtonEvent)="emitClickUpdateButtonEvents($event)"
                 (checkButtonEndEvent)="emitClickCheckButtonEvents($event)"
                 (plusButtonEvent)="emitClickEvent($event)"
                 [ActivateHoverCard]="true"
                 [UpdateButtonToolTip]="'sample.task.UpdateButtonToolTipValue'"
                 [actionsList]="myActionsList"
                 [checkSquarButtonToolTip]="'sample.task.checkSquarButtonToolTipValue'"
                 [displayCheckButton]="true"
                 [displayPlusButton]="true"
                 [displayUpdateButton]="true"
                 [heartButton]="true"
                 [iconImagePath]="'assets/img/BL_logo.png'"
                 [iconImageStyle]="costumIconImageStyle"
                 [plusButtonToolTip]="'sample.task.plusButtonToolTipValue'"
                 [task]="notDelayedTask"
                 [tromboneButton]="true">
        </bl-task>
        <h4>{{'sample.task.TaskWithInitials' | translate}}</h4>
        <bl-task
                [actionsList]="myActionsList"
                [displayAssignedTo] = true
                [task]="taskWithInitials"></bl-task>
      </div>
      <div>
        <h4>{{'sample.task.taskWithStatusNoBorder' | translate}} </h4>
        <bl-task [actionsList]="myActionsList"
                 [noBorder]="true"
                 [task]="taskDone">
        </bl-task>
      </div>
      <div>
        <h4>{{'sample.task.delayedTaskNoBorder' | translate}} </h4>
        <bl-task [actionsList]="myActionsList"
                 [noBorder]="true"
                 [task]="delayedTask">
        </bl-task>
      </div>
      <div>
        <h4>{{'sample.task.taskWithShadow' | translate}} </h4>
        <div style="background-color: var(--primary-color)">
          <bl-task [actionsList]="myActionsList"
                   [noBorder]="false"
                   [withShadow]="true"
                   [task]="delayedTask">
          </bl-task>
        </div>
      </div>
    </ng-container>
</div>
