

<form [formGroup]="formGroup">

  <div class="col action-button">
    <bl-button (click)="showConfig()" [iconClass]="'ph ph-heart'" [primary]="false"
               [testLabelValue]="'View_config'"
               [title]="'sample.datatable.viewconfig'"
               >
    </bl-button>
  </div>
  <bl-table
    [tableTitle]="'sample.datatable.titleTableWithClass'|translate "
    [titleClass]="titleClass"
    [showCellsToolTip]="true"
    [config]="config" [isLoading]="isLoading" [testLabelValue]="'table-example-1'"
            class="bl-table-prent-width">
        <bl-table-filter (searchEvent)="refreshAllTable()"
                             [displaySearchButton]="formGroup.controls.displaySearchButton.value?.id === 1"
                             [nbFiltersPerLine]="getNbFiltersPerLine()"
                             [testLabelValue]="'table-filter'" blFilters>
            <bl-multicombo (selectableListChangeEvent)="refreshList()" [data]="lstRight" [formControl]="formGroup.controls.right"
                           [label]="'sample.datatable.right.title_option'" [testLabelValue]="'multicombo1'">
            </bl-multicombo>
            <bl-multicombo (selectableListChangeEvent)="refreshList()" [data]="lstAction" [formControl]="formGroup.controls.columnAction"
                           [label]="'sample.datatable.action.title_optionColumn'" [testLabelValue]="'multicombo2'">
            </bl-multicombo>
            <bl-multicombo (selectableListChangeEvent)="refreshList()" [data]="lstAction" [formControl]="formGroup.controls.listAction"
                           [label]="'sample.datatable.action.title_optionListAction'" [testLabelValue]="'multicombo3'">
            </bl-multicombo>
            <bl-multicombo (selectableListChangeEvent)="refreshList()" [data]="lstAction" [formControl]="formGroup.controls.groupActionButton"
                           [label]="'sample.datatable.action.title_optionGroupButton'" [testLabelValue]="'multicombo4'">
            </bl-multicombo>
            <bl-list-box [data]="[{id:1,label:'1'},{id:2,label:'2'},{id:3,label:'3'},{id:4,label:'4'},{id:5,label:'5'}]"
                        [formControl]="formGroup.controls.nbfilter"
                        [label]="'sample.datatable.action.title_optionFilters'" [testLabelValue]="'listbox1'">
            </bl-list-box>
            <bl-list-box [data]="[{id:1,label:'Oui'},{id:2,label:'Non'}]"
                        [formControl]="formGroup.controls.displaySearchButton"
                        [label]="'sample.datatable.action.title_optionDisplaySearchButton'" [testLabelValue]="'listbox2'">
            </bl-list-box>
            <bl-list-box [data]="[{id:1,label:'Oui'},{id:2,label:'Non'}]"
                        [formControl]="formGroup.controls.simulateLongResponse"
                        [label]="'sample.datatable.action.title_optionSimulateLongResponse'" [testLabelValue]="'listbox3'">
            </bl-list-box>
            <bl-list-box (selectableListChangeEvent)="resetData()" [data]="[{id:1,label:'Oui'},{id:2,label:'Non'}]"
                        [formControl]="formGroup.controls.empty"
                        [label]="'sample.datatable.action.title_optionEmpty'" [testLabelValue]="'listbox4'">
            </bl-list-box>
        </bl-table-filter>
    </bl-table>
</form>
