<div style="width: 75%">
  <h2 id="usage" class="anchor border-bottom bl-zt-h2">{{'sample.multi-attachment.samples' | translate}}</h2>
  <div class="container m-2">
    <h3 class="bl-zt-h3 m-4">{{'sample.multi-attachment.doc.title1' | translate}} </h3>
    <div class="m-2" >
      <p>{{'sample.multi-attachment.doc.required' | translate}}
        <code>[required]="true"</code>
      </p>
      <p>{{'sample.multi-attachment.doc.required-extentions' | translate}}
        <code>[maxFileSize]="1024 * 1500"</code>
      </p>
      <p>{{'sample.multi-attachment.doc.maxSize' | translate}}
        <code> [accept]="['pdf','txt','jpeg']"</code>
      </p>
      <p>{{'sample.multi-attachment.doc.sizeFunc' | translate}}
        <code> [convertSizeFunc]="sizeMo"</code>
      </p>
      <p>{{'sample.multi-attachment.doc.maxFilesNum' | translate}}
        <code> [nbFilesAllowed]="4"</code>
      </p>
    </div>
      <!-- BASIC EXEMPLE-->
    <form
      (ngSubmit)="onSubmitMultiList()"
      [formGroup]="formGroup"
      class="align-items-center"
    >
      <bl-multi-attachment
        (openFileFunc)="openFile($event)"
        [accept]="['pdf','txt','jpeg']"
        [convertSizeFunc]="sizeMo"
        [formControl]="formGroup.controls.attachmentsList"
        [maxFileSize]="1024 * 1500"
        [nbFilesAllowed]="4"
        [removable]="true"
        [required]="true"
        [testLabelValue]="'multi-attachment1'"
      >
      </bl-multi-attachment>

      <div class="validate-button">
        <bl-button
          [disabled]="formGroup.invalid"
          [primary]="true"
          [testLabelValue]="'validate'"
          title="{{ 'sample.button.validate' | translate }}"
          type="submit"
        ></bl-button>
      </div>
    </form>
  </div>
  <!-- COSTUMIZED ERROR MESSAGE EXEMPLE-->
  <div class="container m-2">
    <h3 class="bl-zt-h3 m-4">{{'sample.multi-attachment.doc.title2' | translate}}</h3>
      <p> {{'sample.multi-attachment.doc.costumMsgErrors' | translate}}
        <code> [costumMsgErrors]="true"</code>
      </p>

    <form
      (ngSubmit)="onSubmitMultiList()"
      [formGroup]="formGroup"
      class="align-items-center"
      >
      <div>
        <bl-multi-attachment
          (openFileFunc)="openFile($event)"
          [convertSizeFunc]="sizeMo"
          [costumMsgErrors]="true"
          [formControl]="formGroup2.controls.attachmentsList"
          [formGroupList]="formGroup2"
          [hideExtentions]="true"
          [removable]="true"
          [testLabelValue]="'multi-attachment1'"
        >
        </bl-multi-attachment>
         <!-- CUSTOMIZED ERRORS -->
        <ng-container *ngIf=" !formGroup2.pristine && formGroup2.controls.attachmentsList.errors">
          <div style="margin-top: 1.5em;">
            <bl-error
                [visible]="formGroup2.controls.attachmentsList.hasError('required')"
                [testLabel]="'error_required'"
                [key]="'sample.multi-attachment.required-error'"
            ></bl-error>
            <bl-error
              [key]="'sample.multi-attachment.invalid-extentions'"
              [testLabel]="'error_invalid_extention'"
              [visible]="formGroup2.controls.attachmentsList.hasError('acceptExtension')"
              class="mt-2"
            ></bl-error>
            <bl-error
              [key]="'sample.multi-attachment.nbFilesExceeded'"
              [testLabel]="'error_invalid_extention'"
              [visible]="formGroup2.controls.attachmentsList.hasError('nbFilesNotAllowed')"
              class="mt-2"
            ></bl-error>
          </div>
        </ng-container>
      </div>

      <div class="validate-button">
        <bl-button
          [disabled]="formGroup.invalid"
          [primary]="true"
          [testLabelValue]="'validate'"
          title="{{ 'sample.button.validate' | translate }}"
          type="submit"
        ></bl-button>
      </div>
    </form>
  </div>
  <div class="container m-2 mb-4">
    <h3 class="bl-zt-h3 m-4">{{'sample.multi-attachment.doc.title3' | translate}}</h3>
    <div class="m-2" >

      <p>{{'sample.multi-attachment.doc.readonly' | translate}}
        <code>[readOnlyFile]="true"</code>
      </p>
      </div>
    <form
      (ngSubmit)="onSubmitMultiList()"
      [formGroup]="formGroupReadOnly"
      class="align-items-center"
    >
      <bl-multi-attachment
        [accept]="['pdf','txt','jpeg']"
        [convertSizeFunc]="sizeMo"
        [formControl]="formGroupReadOnly.controls.attachmentsList"
        [readOnlyFile]="true"
        [testLabelValue]="'multi-attachment2'"
      >
      </bl-multi-attachment>

    </form>
  </div>
</div>
