<ul>Il y a deux types de lien hypertexte :
    <li>- Les liens internes, qui ouvrent une page au sein de l'application.</li>
    <li>- Les liens externes qui ouvrent un nouvel onglet de navigateur.</li>
</ul>

<div class="flex-container">
  <div class="separator"></div>
  <div class="flex-item">
    <h5>Lien interne</h5>
    <p>Le lien interne permet l'ouverture d'une page au sein de l'application.</p><br>
    <p>Voici un exemple
      <bl-hyperlink #sample [arrow]="false"
                    [link]="'/home'"
                    [optionalStyle]="'inline-flex'"
                    [testLabelValue]="'internal1'"
                    [text]="'pages.variables.hyperlink.hyperlinkClick.textWithoutArrow'| translate"
                    [title]="'Link to Home'| translate"
      > </bl-hyperlink>
      d'un Lien hyperTexte <strong>Interne</strong> sans flèche dans un paragraphe avec le style 'inline-flex'.
    </p>
    <p>Voici un exemple d'un  Lien hyperTexte <strong>Interne</strong> sans flèche : </p>
    <bl-hyperlink #sample [arrow]="false"
                        [link]="'/home'"
                        [testLabelValue]="'internal1'"
                        [text]="'pages.variables.hyperlink.hyperlinkClick.textWithoutArrow'| translate"
                        [title]="'Link to Home'| translate"
                        > </bl-hyperlink><br>
      <p>Lien hyperTexte  <strong>Interne</strong> avec  flèche  et emoji :</p>
    <bl-hyperlink #sample [link]="'/sitemap'"
            [testLabelValue]="'internal2'"
            [title]="'Link to Sitemap'| translate"
            >
      <i [attr.tesLabel]="'internal2'+'_ph-cat'+'_icon'" class="ph-cat ph-light ph-lg2"></i>Lien avec Emoji
    </bl-hyperlink>
  </div>

  <div class="separator"></div>
  <div class="flex-item">
    <h5>Lien externe</h5>
    <p>Le lien externe permet l'ouverture de l'url dans un nouvel onglet.</p><br>
    <p>Voici un exemple
      <bl-hyperlink-external #sample [arrow]="false"
                                               [link]="'https://www.berger-levrault.com/fr/'"
                                               [optionalStyle]="'inline-flex'"
                                               [testLabelValue]="'external1'"
                                               [text]="'pages.variables.hyperlink.hyperlinkClick.textWithoutArrow'| translate"
                                               [title]="'pages.variables.hyperlink.hyperlinkClick.title'| translate"></bl-hyperlink-external>
      d'un Lien hyperTexte <strong>Externe</strong> sans flèche dans un paragraphe avec le style 'inline-flex'.
    </p>
    <p>Voici un exemple d'un  Lien hyperTexte <strong>Externe</strong> sans flèche :</p>
    <bl-hyperlink-external #sample [arrow]="false"
                           [link]="'https://www.berger-levrault.com/fr/'"
                           [testLabelValue]="'external2'"
                           [text]="'pages.variables.hyperlink.hyperlinkClick.textWithoutArrow'| translate"
                           [title]="'pages.variables.hyperlink.hyperlinkClick.title'| translate"
                           > </bl-hyperlink-external><br>
    <p>Voici un exemple d'un  Lien hyperTexte <strong>Externe</strong> avec  flèche : </p>
    <bl-hyperlink-external #sample [link]="'https://www.berger-levrault.com/fr/'"
                           [optionalStyle]="'block'"
                           [testLabelValue]="'external3'"
                           [text]="'pages.variables.hyperlink.hyperlinkClick.text'| translate"
                           [title]="'pages.variables.hyperlink.hyperlinkClick.title'| translate"
                           > </bl-hyperlink-external>
  </div>

  <div class="separator"></div>
  <div class="flex-item">
    <h5>Lien click (microfront) </h5>
    <p>Le lien click permet de lancer un traitement sur l'évènement click (utiliser preventDefault()).</p><br>
    <p>Voici un exemple
      <bl-hyperlink-click #sample (click)="onClick($event);$event.preventDefault();"
                          [arrow]="false"
                          [link]="''"
                          [optionalStyle]="'inline-flex'"
                          [testLabelValue]="'click_1'"
                          [text]="'pages.variables.hyperlink.hyperlinkClick.textWithoutArrow'| translate"
                          [title]="'Event'| translate"
      > </bl-hyperlink-click>
      d'un Lien hyperTexte <strong>Click</strong> sans flèche dans un paragraphe avec le style 'inline-flex'.
    </p>
    <p>Voici un exemple d'un  Lien hyperTexte <strong>Click</strong> sans flèche :</p>
    <bl-hyperlink-click #sample (click)="onClick($event);$event.preventDefault();"
                        [arrow]="false"
                        [link]="''"
                        [testLabelValue]="'click_1'"
                        [text]="'pages.variables.hyperlink.hyperlinkClick.textWithoutArrow'| translate"
                        [title]="'Event'| translate"
                        > </bl-hyperlink-click><br>
    <p>Lien hyperTexte  <strong>Click</strong> avec  flèche  et emoji :</p>
    <bl-hyperlink-click #sample (click)="onClick($event);$event.preventDefault();"
                        [link]="''"
                        [testLabelValue]="'click_2'"
                        [title]="'Event'| translate"
    >
      <i [attr.tesLabel]="'internal2'+'_ph-cat'+'_icon'" class="ph-cat ph-light ph-lg2"></i>Lien avec Emoji
    </bl-hyperlink-click>
  </div>
</div>

<div class="m-container">
  <h3 id="accessibilite" class="anchor border-bottom mt-4 bl-zt-h2">Accessibilité</h3>
  <p>Afin de rendre le lien externe accessible il est nécessaire de définir le title à l'identique du texte en ajoutant la mention '(nouvelle fenêtre)' à adapter en fonction le la langue :</p>
  <bl-hyperlink-external
                       [text]="'Berger-Levrault'"
                       [title]="'Berger-Levrault (nouvelle fenêtre)'"
                       [link]="'http://www.berger-levrault.com'">
  </bl-hyperlink-external>

</div>
