<bl-multi-card-template [pageIcon]="pageIcon" [pageTitle]="pageTitle">

    <div *blContentSelector>
        <form [formGroup]="formGroup" >
            <bl-form-error-display [baseI18N]="formLabels" [displayErrorFields]="!layout.mobile"
                                [formGroup]="formGroup" and="et" [class]="'mb-2'"></bl-form-error-display>
            <div class="row">
                <div class="col-lg-4">
                    <bl-text-field [formControl]="formGroup.controls.label1"
                                [id]="'1'"
                                [label]="'sample.libelle.label1'"
                                [maxLength]="15"
                                [testLabelValue]="'input_1'"
                                [placeholder]="'sample.libelle.placeholder'"
                                [type]="'text'">
                    </bl-text-field>
                </div>
                <div class="col-lg-4">
                    <bl-text-field [formControl]="formGroup.controls.label2"
                                [id]="'2'"
                                [label]="'sample.libelle.label2'"
                                [maxLength]="12"
                                [testLabelValue]="'input_2'"
                                [placeholder]="'sample.libelle.placeholder'"
                                [type]="'text'">
                    </bl-text-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <bl-text-field [formControl]="formGroup.controls.label3"
                                [id]="'3'"
                                [label]="'sample.libelle.label3'"
                                [maxLength]="12"
                                [testLabelValue]="'input_3'"
                                [placeholder]="'sample.libelle.placeholder'"
                                [type]="'text'">
                    </bl-text-field>
                </div>
                <div class="col-lg-4">
                    <bl-list-box [addNullableOption]="true"
                        [data]="listData"
                        [formControl]="formGroup.controls.listBox"
                        [label]="'sample.list.listbox'" [placeholder]="'sample.list.aucun'"
                        [testLabelValue] = "'listBox'"
                        >
                    </bl-list-box>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-2 mt-2">
                <bl-datepicker [dateFormat]="'DD/MM/YYYY'"
                [dateLocale]="'fr-FR'"
                [formControl]="formGroup.controls.date1"
                [id]="'idDate1'"
                [label]="'sample.datepicker.label'"
                [testLabelValue]="'datepicker_1'"
                >
                </bl-datepicker>
              </div>
              <div class="col-lg-2">
                <bl-datepicker [dateFormat]="'DD/MM/YY'"
                [dateLocale]="'es-ES'"
                [formControl]="formGroup.controls.date2"
                [id]="'idDate2'"
                [label]="'sample.datepicker.label'"
                [testLabelValue]="'datepicker_2'"
                >
                </bl-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">

            </div>
          </div>
          <div class="row">
              <div class="col-sm-2">
                <label class="subtitle"> Autres champs </label>
                <br>
                <bl-checkbox
                    [formControl]="formGroup.controls.checkbox1"
                    [matToolTip]="'Checkbox'">
                    Checkbox
                    </bl-checkbox>
                    <br>
                    <bl-checkbox
                    [formControl]="formGroup.controls.checkbox2"
                    [matToolTip]="'Checkbox'">
                    Checkbox
                    </bl-checkbox>
              </div>
            <div class="col-lg-2">
                <bl-radio [formControl]="formGroup.controls.radioBox"
                [label]="'Autres champs'"
                [listOfOptions]="listRadioBox">
                </bl-radio>
            </div>
            </div>


        </form>
    </div>

    <div footer class="d-flex justify-content-end">
        <bl-button
          (click)="onSubmitForm()"
          title="{{ 'sample.button.save' | translate }}"
          [primary]="true"
          type="submit"
          [disabled]="formGroup.invalid"
          [testLabelValue]="'save_action'"
          style="margin-right: 10px;"
        ></bl-button>

        <bl-button
        (click)="cancelAction()"
        title="{{ 'sample.button.rollback' | translate }}"
        [primary]="false"
        [testLabelValue]="'cancel_action'"
      ></bl-button>
   </div>
  </bl-multi-card-template>
